[2020-05-22 17:41] dhellmann commented on #529
See if #535 helps.

[2020-05-22 18:58] dhellmann commented on #447
#448 has merged. Does that complete the work for this issue, or should we keep it open?

[2020-05-22 19:00] dhellmann commented on #431
Does #470 resolve this issue?

[2020-05-22 19:15] zaneb commented on #466
Instead of fixing this to output unstructured logs consistently, I wrote [bmo-log-parse](https://github.com/zaneb/bmo-log-parse) for manipulating the structured logs.

[2020-05-22 19:22] zaneb commented on #447
Looks complete to me. Feel free to reopen if that's not the case.
/close

[2020-05-22 19:22] #447 closed

[2020-05-23 07:37] kotyara85 opened #537 "ironic cannoe register hosts"
Hello,
Just installed metal3 using helm charts on k8s -
Here's the error I'm getting from ironic -

[code]

Any clue what can be wrong?

Thanks

[2020-05-23 08:22] maelk commented on #431
Yes, the workaround is in place.
/close

[2020-05-23 08:22] #431 closed

[2020-05-23 09:27] IamFive commented on #529
thanks, i will rebase the PR when it's merged. And test it again.

[2020-05-24 18:29] maelk commented on #400
/remove-lifecycle stale

[2020-05-26 16:03] zaneb commented on #432
/remove-lifecycle stale

[2020-05-27 12:17] sumitjadhav1 commented on #461
Yes this is enabled. When issue was filed, we had old code under test where it was not enabled. We have checked the recent code (updated 2 days back) and observations are same.

metal3@metal3-PowerEdge-R640:~$ kubectl exec -it metal3-baremetal-operator-7d864c67d9-w8dzf --container ironic-inspector -n metal3 -- /bin/bash
[root@minikube /]# cat /etc/ironic-inspector/inspector.conf | grep -i extra_ha

[2020-05-27 13:35] stbenjam commented on #519
/kind bug

[2020-05-27 19:36] jezogwza commented on #519
Ok will be testing with these fix , and will report back if we see a difference.

[2020-05-27 20:15] zaneb commented on #225
/remove-lifecycle stale

[2020-05-27 21:47] zaneb commented on #461
The data you're getting back from Ironic inspector doesn't contain the "extra" key. It's not clear why this would be the case, given that you have the processing hook enabled. Maybe inspector is not getting the data from ironic-python-agent for some reason?

[2020-05-28 13:01] dhellmann commented on #41
/remove-lifecycle stale
/lifecycle freeze

[2020-05-28 13:05] dhellmann commented on #41
I have an early design for this in https://docs.google.com/document/d/1hlMSdim53CQtqlYOnx1ptq3qKHKhP9LhDrRxzCutGoM/edit and will move that to metal3-docs after we have had time to collaborate more there.

[2020-06-01 13:07] dhellmann commented on #505
I think we're as close to consistent as it is reasonable to expect, now.

[2020-06-01 13:07] #505 closed

[2020-06-03 16:55] jezogwza commented on #519
After deploying a couple of clusters each twice , and not experiencing this delay. I think  this was resolved.  Unfortunately because reproducing this was non deterministic, we cannot say with 100% certainty. That might come with time. But at the moment we feel that  It appears as if #531 did indeed solve this.

[2020-06-03 17:22] stbenjam commented on #519
Great news! Please feel free to re-open if you see the problem again.

/close

[2020-06-03 17:22] #519 closed

[2020-06-03 17:23] dhellmann commented on #41
That design is now available in https://github.com/metal3-io/metal3-docs/pull/98

[2020-06-05 12:56] kirankt commented on #148
Fixed in #401
/close.

[2020-06-05 14:06] maelk commented on #148
/close

[2020-06-05 14:06] #148 closed

[2020-06-10 05:45] maelk commented on #327
/remove-lifecycle stale

[2020-06-10 09:20] IamFive commented on #529
Hello, after register a bmh, ironic start inspect node. And finally, inspect success. But bmh's PROVISIONING STATUS is still `inspecting`. When i check the baremetal operator log, it shows:
`inspecting\" failed: hardware inspection failed: failed to retrieve hardware introspection data: Resource not found`.

Need someone help me to look into this. The error log details:

[code]

[2020-06-10 20:00] dhellmann opened #552 "add dukov as reviewer"
@dukov qualifies as a reviewer under the policy described in https://github.com/metal3-io/metal3-docs/pull/93 but is not a member of the org. After the rest of the migration work is done, we should invite dukov to join and be added as a reviewer.

[2020-06-15 09:05] ankit-kumar5 opened #554 "Failed to create ironic node"
We are currently testing the Metal3/BMO and Cluster Provisioning on ​Proliant DL360 Gen10 using redfish driver. I am facing issue in creating node. Below is the log for ironic container. This error i am getting for vBMC also while installing metal3

2020-06-20 09:29:28.720 46 ERROR wsme.api [req-9db598ba-2a41-4b27-98ce-1eeaa8b2f3ef - - - - -] Server-side error: "Not Found (HTTP 404)". Detail:
Trac

[2020-06-15 14:38] zaneb commented on #554
It looks like Ironic is trying (and failing) to contact Keystone, which means it is deployed incorrectly. Are you using the image from https://github.com/metal3-io/ironic-image?

[2020-06-15 18:17] dhellmann commented on #552
@dukov, I sent you an invitation to join the org. After you have accepted the invitation, you could submit a patch to add yourself to the reviewers list in the OWNERS file of this repo. Then, I will review the PR and merge it.

[2020-06-16 05:50] ankit-kumar5 commented on #554
This is i have configured in config_{user}.sh
# Container image for ironic pod
#
export IRONIC_IMAGE="quay.io/metal3-io/ironic"

Yeah, even i am confused why it contacting keystone. I have checked the ironic.conf it is mentioned **auth_strategy = noauth**. So it should not contact keystone. Am i missing something that needs to be mentioned in the config file.

Attaching the config_{user}.sh

# Def

[2020-06-16 10:09] dukov commented on #552
Done. See #556

[2020-06-16 13:18] dhellmann commented on #552
Merged #556 to complete this.

[2020-06-16 13:18] #552 closed

[2020-06-17 08:20] ankit-kumar5 commented on #554
Also this is the error i am getting in **bmo.out.log**

ERROR   controller-runtime.controller   Reconciler error        {"controller": "metal3-baremetalhost-controller", "request": "metal3/node-0", "error": "action \"registering\" failed: failed to validate BMC access: failed to register host in ironic: Internal Server Error", "errorVerbose": "Internal Server Error\nfailed to register host in iron

[2020-06-17 12:47] dhellmann commented on #554
@ankit-kumar5 can you describe how you deployed this instance of metal3? Are you using kustomize and the deploy YAML files in each repository? Did you use metal3-dev-env? Something else?

[2020-06-17 14:18] ankit-kumar5 commented on #554
Yeah, i used metal3-dev-env for deploying metal3. I followed this link

https://metal3.io/blog/2020/02/18/metal3-dev-env-install-deep-dive.html

[2020-06-19 06:13] ankit-kumar5 commented on #554
I did install standalone setup of ironic. In ironic.conf when the value for **rpc-transport = json-rpc**, then i am facing same issue over there. But when the value is set **rpc-transport = oslo**, the commands work seemlessly. But in metal3 environment setting the value to **oslo** fails with error

2020-06-27 06:52:46.151 28 ERROR oslo.messaging._drivers.impl_rabbit [req-170bfa95-31b7-4e14-9d48-

[2020-06-19 09:26] ankit-kumar5 commented on #554
Adding host=$IRONIC_IP in ironic.conf worked.

Thanks.

[2020-06-19 09:26] #554 closed

[2020-06-19 18:01] zaneb commented on #554
In the metal3 deployment of Ironic there's no RabbitMQ, so `rpc_transport = json-rpc` is definitely correct.

[2020-06-25 10:42] kashifest opened #564 "Failed to save host status errors bombarding up BMO logs"
The BMO logs are showing the following errors and the BMH status is not moving out of registering:

[code]
This is happening too many times. Probably the best way of updating the host and the status sub-resource would be to use PatchHelper functionality from CAPI.

[2020-06-25 10:42] kashifest commented on #564
/assign @maelk

[2020-07-01 06:29] maelk commented on #458
/remove-lifecycle stale

[2020-07-01 06:35] maelk commented on #450
/remove-lifecycle stale
There's not much activity on-going on this right now but we would like to keep it open to tackle in the future

[2020-07-01 17:27] maelk commented on #450
/remove-lifecycle stale

[2020-07-02 06:53] maelk commented on #421
We can probably close this now ? as it is solved by the metadata feature. Feel free to reopen if it is not the case.
/close

[2020-07-02 06:53] #421 closed

[2020-07-02 08:35] zhouhao3 opened #570 "Automatically configure the switch before baremetalhost configuration"
Hi, Metal3 community.  We would like to implement this [prototype](https://github.com/metal3-io/metal3-docs/blob/master/design/physical-network-api-prototype.md) to automate configuring switch before baremetalhost provisioning, for example, join a specific baremetal server to a specific vlan.
In order to do that, baremetal-operator needs to obtain the following outside information.:

- which port

[2020-07-02 14:50] dhellmann commented on #570
I do not think the baremetal-operator should be responsible for trying to change the switch settings. A new controller for the Switch type should do that.

The Switch API should be defined to avoid ambiguous or conflicting settings. For example, placing the port ID on the host means that multiple hosts can be configured to be attached to the same port. If instead the Switch has a list of ports, an

[2020-07-03 09:23] #345 closed

[2020-07-03 09:26] q384566678 commented on #570
agree

Our idea is to add switch and vlan related information at the cluster level.

The approximate implementation process is as follows:
1. Add Switch resource:
[code]
Baremetal Operator is responsible for calling Ironic to detect the port information of the switch connected to the bare metal, which is saved in [Bmh status hardware](https://github.com/metal3-io/baremetal-operator/blame/master/do

[2020-07-03 12:13] maelk commented on #570
The BMH could also reference the switchPort objects. However, I think that putting the configuration at the cluster level is going to be problematic. In my opinion, the switch configuration should be its own object and referenced at the metal3machine level (or, for KCP and machine deployments) in a Metal3MachineTemplate, and applied on the ports referenced by the BMH. That however supposes an homo

[2020-07-06 09:01] q384566678 commented on #570
I created a [file](https://docs.google.com/document/d/1l2OIM6pxo3bX99ccPsLtjKlSsiXZFAU4Dvx6OIa_M3k/edit#) in google doc and shared it with metal3 group, you can view and edit directly.

[2020-07-06 10:51] maelk commented on #570
Thank you. Could you however please fill it in in the template please ? That helps getting all the required points down in the docs.
You can find the template here : https://github.com/metal3-io/metal3-docs/blob/master/design/_template.md

[2020-07-06 19:34] demonCoder95 opened #575 "Update the testing documentation with test tool installation guidance"
**Problem Description**
Running ``make lint`` in the parent dir returns the following failure:
[code]

**More details**
I've tested on the latest commit on master which is ``c1a792c0a287aea870dd8449bd49f3217e670ed1``.

**Suggested Solution**
This should be simple enough, just fixing the var declaration in baremetalhost_types.go file. I can send a patch for this.

Edit: This was due to an outdated

[2020-07-07 08:35] q384566678 commented on #570
thanks, updated.

[2020-07-07 08:38] maelk commented on #570
Thank you. let's move the discussion there then

[2020-07-07 12:17] maelk opened #578 "Online attribute should be set to false when creating BMHs"
Currently the cmd tool that creates BMH CRs set the "Online" flag to true. This is now causing problems in Metal3-dev-env.

Setting the flag to true causes BMO to power on the nodes after the introspection is completed. However, due to a combination of factors, including blank hard drives, the nodes end up booting again over PXE into IPA. After boot, IPA does a lookup for the node based on the mac

[2020-07-07 12:44] hardys commented on #578
Requiring the BMH online to be false seems like a suboptimal workaround - we should be able to just create the BMH with the desired state specified?

Maybe @dtantsur or @juliakreger has some suggestions on how best to handle this, but one solution is to enable fast-track provisioning, then the node doesn't reboot after the introspection completes.

Note for fast-track to work we need two fixes:

h

[2020-07-07 12:45] dtantsur commented on #578
` AttributeError: 'Node' object has no attribute 'uuid'` is a bug, everything else sounds quite normal from my side. Is there any actual problem with booting IPA (other than wasting time and resources)?

[2020-07-07 12:53] maelk commented on #578
@hardys let's see if the fast track starts working after those, but IMO it is not the correct fix either.
@dtantsur in the metal3-dev-env, it is kind of ok, because the disks are blank, but in setups where you are using actual hardware, the disks are not blank, so you are booting whatever is the disk. We do not need the nodes to be powered on when they are not provisioned, so why not turn them off

[2020-07-07 12:56] maelk commented on #578
hum, now thinking about it, it should be false when the provisioning details are not given, but probably true if those are given @hardys

[2020-07-07 13:00] maelk commented on #578
in #579 @dhellmann has a very good point, that it needs to be true when using fast track, and false when not. Otherwise it cancels the fast track benefits.

[2020-07-07 13:18] #578 closed

[2020-07-07 14:46] hardys opened #580 "Typo in bootMACAddress causes non-obvious failures"
If someone accidentally writes `bootMacAddress` instead of `bootMACAddress` (or any other similar typo) we skip creating the ironic port for that node and silently ignore the wrong key containing the MAC.

This then leads to one of several non-obvious failure modes:

- Testing in metal3-dev-env we see the BMH stuck forever in `inspecting` state, IPA reports an error like `Failed looking up node wi

[2020-07-07 15:01] hardys commented on #580
Thanks to @dtantsur for confirming that when using baremetal with IPMI, inspector can guess which data belongs to which node by matching IPMI addresses - so the difference with the downstream results above was that it's a baremetal env and not vbmc as when testing with metal3-dev-env

For some additional context see this downstream issue ref https://bugzilla.redhat.com/show_bug.cgi?id=1854142

[2020-07-08 13:40] stbenjam commented on #564
We think we've resolved this; please re-open if you see this again.

/close

[2020-07-08 13:40] #564 closed

[2020-07-08 16:00] hardys commented on #580
So it looks like @zaneb added validations for the BMH fields in https://github.com/metal3-io/baremetal-operator/pull/256 but that doesn't account for the case where there's a key that is present but doesn't match the schema for the resource.

I'm not sure on the preferred pattern for adding that, but it seems that we could avoid this problem if we rejected BMH resources that did not conform to the

[2020-07-08 16:56] maelk commented on #580
Is there an equivalent of pruning for kubebuilder with Operator SDK ? By default it is enabled in kubebuilder (you can turn it off with specific annotations https://book.kubebuilder.io/reference/markers/crd-processing.html)

[2020-07-08 17:46] dhellmann commented on #580
I think @honza determined that it wasn't supported, which is another reason to move off of operator-sdk. I'm looking at kubebuilder again this week to see if I can work around the limitations I found a few weeks ago.

[2020-07-09 15:59] #452 closed

[2020-07-10 14:37] hardys commented on #580
I'm not sure that pruning unknown fields is enough, given that bootMACAddress is an optional field?

Ideally we need some way of rejecting any resource containing unknown fields, which is a slightly different requirement I think?

[2020-07-10 14:56] dhellmann commented on #580
If there's a way to do that, I would expect it to be an OpenAPI layer thing rather than something we had to do ourselves. We're generating the schema data as part of the CRD. Is it being used?

[2020-07-13 09:28] maelk commented on #580
We might be able to use webhooks to reject such a resource as long as we check it as an Unstructured object. Any type of conversion would effectively prune it.

[2020-07-13 09:36] q384566678 commented on #570
@dhellmann  @maelk We have updated this [document](https://docs.google.com/document/d/1l2OIM6pxo3bX99ccPsLtjKlSsiXZFAU4Dvx6OIa_M3k/edit#) and I hope you can take a look. Any comments are welcome.

[2020-07-13 13:41] hardys commented on #580
So it looks like there should be client side validation when you enable pruning:

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#publish-validation-schema-in-openapi-v2

So perhaps that is enough, I'll give it a try as it should be simpler than the admission webhook approach I think?

[2020-07-13 14:21] dhellmann commented on #580
Yes, let's definitely see if we can enable that. As I said earlier, I think @honza determined that operator-sdk did not honor the setting to enable it, but I've worked out how we can change to kubebuilder which should honor it so we can include better API validation to the list of motivations for that work.

[2020-07-14 11:06] maelk commented on #363
Considering that all objects must be in the same namespace (for owner references) this actually does not apply.

/close

[2020-07-14 11:06] #363 closed

[2020-07-16 09:15] hardys commented on #580
Ok so it does seem that pruning enables client-side validation against the schema, adding `preserveUnknownFields: false` to the CRD results in this error when the bootMACAddress is malformed:

[code]

[2020-07-16 12:59] zaneb commented on #580
See #327.

[2020-07-16 12:59] ismacasti opened #596 "Autocleaning tries to clean all devices even when setting rootDeviceHints"
Hi!

Using metal3 on a HPE machine fails to deploy due to errors on auto_clean step:

[code]

Here's the BareMetalHost definition:
[code]

This causes problems on these particular machines, as /dev/sdb is a read-only device (some kind of firmware drive).
In my opinion, Ironic should only clean the device set in the hint, if it is set.

I'm not sure this issue should be filed here on in the ironic-

[2020-07-16 13:20] ismacasti commented on #596
As a workaround, disabling autoclean makes it work.

[2020-07-16 13:25] zaneb commented on #327
Good news: kubebuilder [now supports](https://book.kubebuilder.io/reference/markers/crd-processing.html) generating the CRD with the `x-kubernetes-preserve-unknown-fields` option.
Bad news: it only supports setting it to true :facepalm:

So the solution remains switching to `apiextensions.k8s.io/v1`.

[2020-07-16 13:36] dhellmann commented on #596
We expect the whole host to be cleaned, at least for now. Skipping drives puts the host in a state where you may have sensitive data on a secondary drive and no OS to boot to clear it.

Recent changes in ironic should make it ignore read-only devices, so we should ensure that we have that version of ironic in our images.

[2020-07-16 13:58] ismacasti commented on #596
That makes sense. I'll test it when ironic has been updated.
Thanks for your quick response.

[2020-07-16 15:36] ankit-kumar5 opened #598 "Issue in enabling ilo hardware type"
Hi

I am working on enablement of ilo hardware type. And i am facing one issue when i am adding ilo hardware type in enabled_hardware_types (/etc/ironic/ironic.conf). This is the error i am getting

**ERROR:**
=====

/usr/lib/python3.6/site-packages/oslo_serialization/jsonutils.py:180: UserWarning: Cannot convert <ironic.drivers.modules.ipxe.iPXEBoot object at 0x7fbca2dd5e10> to primitive, will ra

[2020-07-16 15:46] dhellmann commented on #598
The host is supposed to be registered with ironic using the boot interface specified by the BMC. See https://github.com/metal3-io/baremetal-operator/blob/master/pkg/provisioner/ironic/ironic.go#L245

If you look at the node in ironic, does it have the right boot interface set?

[2020-07-17 05:30] ankit-kumar5 commented on #598
Actually for every driver, boot interface is defined (For Ex: https://github.com/metal3-io/baremetal-operator/blob/master/pkg/bmc/redfish.go#L110)

In my case if i am adding hardware_type ilo, then ir-cond fails to start with the above error. It is not reaching to that point where node creation can happen since **ilo** doesn't support ipxe boot interface and its being set in default_boot_interface

[2020-07-17 12:51] dhellmann commented on #598
It sounds like you are saying that the ironic-conductor will not start because a default value, which we don't use, is incompatible with one of the drivers. Is that right?

@dtantsur @juliakreger do you have any insight on this? Should we remove the default boot interface setting, or choose a different one?

[2020-07-17 13:12] juliakreger commented on #598
Greetings,

@ankit-kumar5 You'll need to set the boot interface to the special ilo-ipxe wrapper.... or just get rid of the interface wrapper and declare support for the stock ipxe driver.

https://github.com/openstack/ironic/blob/master/ironic/drivers/ilo.py#L41
https://github.com/openstack/ironic/blob/master/setup.cfg#L70

[2020-07-17 16:07] zaneb commented on #575
/close

[2020-07-17 16:07] #575 closed

[2020-07-17 17:15] ankit-kumar5 commented on #598
Yeah.. i am saying that only.

[2020-07-17 17:21] ankit-kumar5 commented on #598
I tried the first approach declaring ilo-ipxe as default_boot_interface and it failed because ilo-ipxe is not supported by other hardware types which is obvious that it fails.
For the second approach, i can do that. I was just confirming whether default_boot_interface can be removed from the config or not.

[2020-07-17 17:26] ankit-kumar5 commented on #598
I tried the first approach declaring ilo-ipxe as default_boot_interface and it failed because ilo-ipxe is not supported by other hardware types which is obvious that it fails.

[2020-07-17 17:42] dhellmann commented on #598
We need to be able to add drivers without the user having to customize the default boot interface. If they have to change the default, it's not really a default.

Why won't conductor start with the default set the way it is now?

[2020-07-17 17:56] ankit-kumar5 commented on #598
Because this default(ipxe) is not supported by ilo hardware type, thats why its failing.

[2020-07-17 18:17] dhellmann commented on #598
Why does ironic care if the default isn't supported by all of the drivers? Why not wait to fail at the point where the boot interface and driver for a given host are both known to be incompatible?

[2020-07-17 18:25] ankit-kumar5 commented on #598
I will make changes to ilo drivers to support ipxe and pxe boot interfaces.

[2020-07-17 21:16] juliakreger commented on #598
So a few different thoughts:
1) Default is only if a node is created with just a "driver" field, and no other specific interface choices. It is handy, but I'm 99.95% sure the operator, when defining nodes allows all of the interfaces to be defined. If the operator is doing this in two steps against the API, that is likely not ideal.
2) If the list of enabled hardware types includes priority, where

[2020-07-18 15:43] ankit-kumar5 commented on #598
I have been doing this. You can see here
https://github.com/metal3-io/baremetal-operator/pull/595/commits/ba6dc38e8a3a28b07c18c31b965fefcca2435a60#diff-ce770aa06cd9fa55727a51d6584280b1R70

But its failing way before executing this, when i am adding in conf file(/etc/ironic/ironic.conf)

default_boot_interface = ipxe
default_deploy_interface = direct
default_inspect_interface = inspector
default_ne

[2020-07-18 19:22] juliakreger commented on #598
Remove the default_boot_interface line, and change the enabled_boot_interfaces to:

enabled_boot_interfaces = ipxe,pxe,fake,redfish-virtual-media,idrac-redfish-virtual-media,ilo-ipxe

It will have the same effective configuration for all users and you'll be able to explicitly ask for ilo-ipxe.

[2020-07-19 10:25] ankit-kumar5 commented on #598
Thanks @juliakreger.. I was asking for this clarification only.

[2020-07-22 02:34] zaneb commented on #570
A few months back I wrote up some notes on what [a multi-tenant system using Metal³ might look like](https://governance.openstack.org/ideas/ideas/teapot/index.html). That's not the only possible shape for such a system, but it might be useful in describing a concrete use case that you can compare the design against to determine if it meets likely user needs and if the concerns are correctly separa

[2020-07-22 11:15] sumitjadhav1 commented on #477
Now able to provision Dell PowerEdge Server nodes using cluster scripts provided by Metal3. Also we used IPAM feature. Testing done for nodes in both UEFI/BIOS boot modes.
This verification was done after following fixes :
1. [ironic node auth seems to be broken](https://github.com/metal3-io/metal3-dev-env/issues/368)
2. [Online attribute should be set to false when creating BMHs](https://github.c

[2020-07-22 11:15] #477 closed

[2020-07-22 13:56] stbenjam commented on #596
The ironic packages should already be updated in Metal3 to include this fix, could you try again? If you have any issues please re-open this. Thanks!

/close

[2020-07-22 13:56] #596 closed

[2020-07-22 13:57] stbenjam commented on #598
/kind feature

[2020-07-23 10:54] stbenjam commented on #422
/remove-lifecycle stale

[2020-07-23 12:55] FaridHub opened #604 "no kind "BareMetalHost" is registered for version "metal3.io/v1alpha1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28""
Issue:
**error: no kind "BareMetalHost" is registered for version "metal3.io/v1alpha1" in scheme "k8s.io/kubectl/pkg/scheme/scheme.go:28"**

Problem description:
I am trying to provision bare-metal hosts by k8 cluster. Although the bare-metal-operator and ironic.
I took the baremetal-operator form github repo and followed the steps in
https://github.com/metal3-io/baremetal-operator/blob/master/doc

[2020-07-23 12:57] zaneb commented on #604
Sounds like you maybe haven't deployed the [CRD](https://github.com/metal3-io/baremetal-operator/tree/master/deploy/crds).

[2020-07-23 14:49] FaridHub commented on #604
I already did, I used below commands to deploy everything...

[root@MyHost baremetal-operator] # **kubectl apply -k deploy/default**
[root@MyHost baremetal-operator] # **kubectl apply -k ironic-deployment/default**

The above were the very first steps I followed to continue ith bare-metal host deployment.

[2020-07-24 07:03] maelk commented on #604
That looks like a networking issue. Is Ironic listening properly on 172.22.0.2:6385 ? then is that ip reachable from the BMO pod ? please check that you can curl the ironic API from within the BMO pod.

[2020-07-24 11:36] FaridHub commented on #482
I deleted the BMH by editing and remove the highlighed line as shown below in the yaml.

![image](https://user-images.githubusercontent.com/8111839/88387393-fb85dd80-cdcf-11ea-8adf-48223eebfcc7.png)

[2020-07-24 14:56] zaneb commented on #482
That doesn't really help us find the root cause :)

[2020-07-26 15:26] maelk commented on #482
@FaridHub Be careful when forcefully deleting, because it is very possible that the node was not removed from the Ironic database. You should probably make sure that it is the case (using Openstack CLI) and if it is not, manually delete the node. You might otherwise see some unexpected behaviors.

[2020-07-28 14:40] #327 closed

[2020-07-28 14:40] #580 closed

[2020-07-29 16:17] dhellmann opened #608 "externally provisioned hosts without image settings should not expose ironic's error message"
If someone creates an externally provisioned host by hand, without the image information, like this:

[code]

the host enters an error state with this message:

[code]

We should wait for the host to have all of the details it needs before registering it with Ironic.

[2020-07-29 18:35] dhellmann commented on #608
The problem isn't that we register the host, it's that we try to work it through the adoption states.

[2020-07-29 19:14] #422 closed

[2020-07-31 16:16] #420 closed

[2020-08-04 00:51] zhouhao3 commented on #570
We revised the document based on your suggestions and added some user cases and workflows. Hope you guys can take a look.

[2020-08-04 20:31] zaneb commented on #206
Still in progress (and close to merging) in #292.
/remove-lifecycle stale

[2020-08-17 16:22] shibaPuppy commented on #482
@zaneb
bugs that cannot be reproduced, root cause cannot be found.

https://github.com/metal3-io/baremetal-operator/pull/614
The above PR seems to be able to avoid the error.

+ I checked the node uuid with the openstack cli and deleted the kube finalizer.
It worked out after restarting bmo.

[2020-08-17 16:44] zaneb commented on #482
The root cause could be found if we had the whole log, but perhaps it no longer existed by that point.

[2020-08-17 19:08] #482 closed

[2020-08-24 17:57] zaneb commented on #432
/remove-lifecycle stale

[2020-08-26 10:02] dtantsur commented on #461
/close

At least one fix has been merged to ironic-inspector around this area, so I hope it has been fixed. If not, please reopen providing ironic-inspector and ramdisk logs.

[2020-08-26 10:35] sumitjadhav1 commented on #461
@dtantsur : Could you please help us locate the fix you mentioned about..?? Mean time, we will also test this at our end & update the comments. Will re-open the issue as soon as we test this.

[2020-08-26 12:22] sumitjadhav1 commented on #461
/reopen

[2020-08-26 13:32] sumitjadhav1 commented on #461
Here is the sample snippet from metal3.io/try-it.html page which shows this was working earlier in metal3-dev-env setup with virtual nodes as well. But it's not working right now in virtual node setup. We did the Metal3 deployment yesterday.

`    firmware:
      bios:
        date: 04/01/2014
        vendor: SeaBIOS
        version: 1.10.2-1ubuntu1`

Snippet from our metal3 setup with virtual nod

[2020-08-26 13:37] sumitjadhav1 commented on #461
/remove-lifecycle stale

[2020-08-28 18:52] FaridHub opened #617 "Hardware profile "unknown" for Dell Idrack baremetals"
I have been facing hardware profile status as "**unknown**" for all the Dell Idrack machines I have been using.
Kindly find the  description of bmh below "**kubectl describe bmh/bmh-idrac-247 -n metal3**"

Name:         bmh-idrac-247
Namespace:    metal3
Labels:       <none>
Annotations:  API Version:  metal3.io/v1alpha1
Kind:         BareMetalHost
Metadata:
  Creation Timestamp:  2020-08-28T17:45

[2020-08-28 18:56] dhellmann commented on #617
This is normal. The hardware profile feature was never fully developed, so the logic for choosing a profile is limited. The only use for the profile is to set the root device hints, and now that we have an API for doing that you should go ahead and use those fields instead of the profile.

[2020-08-28 18:57] dhellmann commented on #617
I should also mention that the hardware-classification-controller provides some of the features that were originally planned for the hardware profile feature of the baremetal-operator, so if you are looking for a tool to examine the hardware and make decisions based on what is found you could look there.

[2020-08-28 20:19] zaneb commented on #617
That's the default so if you didn't set it then that is expected. See the [API documentation](https://github.com/metal3-io/baremetal-operator/blob/master/docs/api.md#status-fields) for details.
/close

[2020-08-28 20:19] #617 closed

[2020-08-31 06:39] maelk commented on #225
/remove-lifecycle stale

[2020-08-31 19:54] kplimack opened #618 "Ironic is exhausting MySQL Connections"
Noticed that my mysql backup jobs were failing and the noticed that mysql connections are being exhausted.  If I restart the pod, it takes about 10 minutes for them to climb back up to nearly the limit.

Running `capm3-v0.4.0`

[code]

[2020-08-31 20:07] dhellmann commented on #618
The BMO doesn't talk directly to the database. Only Ironic should be doing that.

Is there a configuration setting we can use in Ironic to manage that connection pool?

[2020-09-01 09:15] elfosardo commented on #618
you could try setting max_pool_size
https://docs.openstack.org/ironic/latest/configuration/config.html#database.max_pool_size
kind of weird though, the default is 5 connections max

[2020-09-01 11:09] FaridHub commented on #617
Baremetal alone is not enough to extract and display hardware-profile. So, closing this issue.

[2020-09-02 05:39] maelk commented on #41
/remove-lifecycle stale

[2020-09-03 17:45] dhellmann commented on #400
This was implemented in https://github.com/metal3-io/baremetal-operator/pull/495

[2020-09-03 17:45] #400 closed

[2020-09-06 16:53] shibaPuppy opened #624 "bmh status collection issue"
pod restart delayed due to issue

It seems that the bmo pod is not collecting state again when it restarts.
There is a message in status.errorMessage, but the node is fine.

[2020-09-07 11:36] kashifest opened #626 "Configurable disk cleaning options"
This is a feature request. The user story is as follows:

**User story:**
As a user, I want to clean up the disks associated with a node in a configurable way. For example, during the initial provisioning I want all the disks of a particular node to be cleaned. However, during an upgrade procedure, I want to clean only the root disk associated with that node and leave the other disks uncleaned as

[2020-09-07 11:40] fmuyassarov commented on #626
/cc @dtantsur

[2020-09-07 11:59] dtantsur commented on #626
An extract from the IRC discussion:
[code]

[2020-09-07 12:04] fmuyassarov commented on #626
Copying my last reply here:

Yes, we could use for example unhealthy annotation on BMO that would avoid that BMH to be selected for while. However, I'm not sure if it is possible to attach a provisioned BMH to a new Metal3Machine.

[2020-09-07 12:05] fmuyassarov commented on #626
/cc @maelk
/cc @dhellmann
/cc @zaneb

[2020-09-07 12:16] maelk commented on #626
Would not cleaning at all the node during an upgrade be a solution ? If we do not clean, IPA will deploy the new image on the root disk, hence overwriting it, leaving the other disks unchanged. Is that correct ?

[2020-09-07 12:27] dhellmann commented on #626
As @dtantsur hints with his response, I think we'll do better solving this if we separate the goals and implementation details in the user story. For example, it might be better to say "As a user, I want to upgrade a node in my cluster without losing data on secondary storage devices in the host." There are a few ways to do that.

In OpenShift, we upgrade in place using an operator running in the

[2020-09-07 12:30] kashifest commented on #626
Yes, that's what we want , but with the current setup, no cleaning can be configured by configuring the following variables
[code]

 ironic.conf, and it would mean we would need to use separate ironic images for provisioning (where all disk erase is desirable)  and upgrade which is undesirable.

[2020-09-07 12:34] dtantsur commented on #626
There is a trick to reverse the logic. Automated cleaning can be disabled by default in the configuration (`automated_clean = False` in ironic.conf) and then enabled on demand per node (via the `automated_clean` field). BMO would still need to know if we're unprovisioning or just upgrading.

[2020-09-07 12:41] dtantsur commented on #626
I've also filed https://storyboard.openstack.org/#!/story/2008113 to allow disabling cleaning per node.

[2020-09-08 19:40] dhellmann commented on #624
Could you provide more details about what happened? What is the message in `status.errorMessage`? Do you have logs for the baremetal-operator?

[2020-09-09 20:59] #341 closed

[2020-09-10 04:45] shibaPuppy commented on #624
[status.errorMessage](https://github.com/metal3-io/baremetal-operator/blob/master/pkg/apis/metal3/v1alpha1/baremetalhost_types.go#L540)

1. bmo pods restart
2. pod cannot start due to insufficient resources
[code]
3. pod restart
4. bmo status re-collection
5. bmh nodes error
[code]
-
6. "~~~" - i can't remember what kind of message was there

[2020-09-15 18:03] s3rj1k opened #634 "[Feature] External provisioner integration (ansible?) using hooks?"
Would be nice to have some kind of integration with arbitrary provisioner in multiple lifecycle of operator.
Some kind  of hooking mechanism.

This is somewhat related to issue with ansible integration part https://github.com/metal3-io/baremetal-operator/issues/570

[2020-09-15 20:06] zaneb commented on #626
The issue I have with this is that such an API is not declarative. You have to run a little workflow to first set up the way you want the action to happen, and then to do it.

A declarative API would look like some long-term field recording that the Host is assigned to some given thing, such that the Host won't be cleaned as long as that field remains unchanged. An obvious candidate for this would

[2020-09-16 02:03] zaneb commented on #634
There is already a separate API for the provisioner within the baremetal operator, and we're definitely not opposed in principle to more implementations other than ironic.
That said, this would be a substantial project in itself, and it's probably unrealistic to expect folks who are already active in the community to write one because the provisioner we have keeps us plenty busy. So it's probably

[2020-09-16 09:15] s3rj1k commented on #634
@zaneb Thanks for a reply, do you have any ideas on how to add external calls to the ironic provisioner itself, without actually forking it?

I mean something like an blocking event system or hooks.

[2020-09-17 18:03] zaneb commented on #634
Ah, sorry, I misinterpreted the question. You don't want to reimplement the provisioner, just to add hooks where something external can be called at particular points in the lifecycle.

I think that's a reasonable request, but in order to implement it it would be helpful to know the kinds of places where you want to implement a hook. [Provisioning state transitions](https://github.com/metal3-io/ba

[2020-09-17 19:15] s3rj1k commented on #634
@zaneb Yes, I was thinking about _Provisioning state transitions_ PRE and POST hooks.

Also can you be a bit more specific about `validating webhook` that you mentioned?

[2020-09-18 01:23] zaneb commented on #634
So there is an admission controller called [ValidatingAdmissionWebhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook), which basically delegates validation of a change to an object to a webhook (you can specify multiple webhooks; they all have to approve for a write to be accepted). [kubebuilder](https://book.kubebuilder.io/reference/adm

[2020-09-18 18:53] dhellmann commented on #634
What would hooks do that a separate controller couldn't do?

[2020-09-18 19:24] s3rj1k commented on #634
@dhellmann Possibly easier and quicker development.
No need to write separate controller.

[2020-09-19 08:42] #434 closed

[2020-09-19 19:53] #466 closed

[2020-09-22 14:35] zaneb commented on #634
This is a good question, and I agree that as much as possible things should be implemented externally using the k8s API rather than in go code with all the messy vendoring (and internal API stability) that implies.

As I understood it the requirement is to be able to implement blocking (i.e. don't change state until this external thing has been done). That isn't possible with an external controlle

[2020-09-22 14:37] s3rj1k commented on #634
@zaneb Yea, blocking is needed in-between state changes.

[2020-09-25 01:17] asalkeld opened #651 "unrecognized import path "vbom.ml/util""
I can't build on Fedora 32, go1.14.9 as I keep getting

[code]

looks like this: https://github.com/kubernetes/kubectl/issues/925
I even totally deleted my whole go tree and it still resulted in the same error.

[2020-09-25 02:18] stbenjam commented on #651
I think the problem is the default GOPROXY setting on Fedora, if this is what @honza and @mhrivnak were talking about the other day.

It should be GOPROXY="https://proxy.golang.org,direct"

[2020-09-25 02:34] mhrivnak commented on #651
There is a good explanation starting here, mostly from Joe's analysis: https://github.com/operator-framework/operator-sdk/issues/3859#issuecomment-697771521

TL;DR the "problem" is not GOPROXY. The problem is that a package used a vanity domain for its import path, then its site went down, and now nobody can access that module unless they access it from a cache that happens to have a copy. Fedora

[2020-09-25 03:15] asalkeld commented on #651
thanks for the great explanation! Should I close or leave open for a while for others to find?

[2020-09-25 12:10] s3rj1k opened #654 "[Feature] Add support for ansible as Ironic deploy interface"
Would be nice to have the ability to trigger [ansible inside ironic for deployment](https://docs.openstack.org/ironic/ussuri/admin/interfaces/deploy.html#ansible-deploy).
[Currently only `direct` deploy_interfaces is supported.](https://github.com/metal3-io/ironic-image/blob/master/ironic.conf#L10)

Issue is for baremetal-operator to support this ability as ironic image itself can be custom build.

[2020-09-25 14:49] honza commented on #651
I guess this can be added to the list of arguments in favour of vendoring our dependencies.

[2020-09-25 16:38] mhrivnak commented on #651
I think it's worth trying to add a `replace` statement in go.mod rather than depend on the proxy, so I'd leave this open for now.

[2020-09-25 21:14] mhrivnak commented on #651
I reached out to the maintainer, and he was able to get the redirect up and running again for vbom.ml/util. This problem should be resolved for now, and the new import path should be picked up naturally whenever operator-sdk rebases onto k8s 1.20, and BMO picks up that change.

[2020-09-28 11:30] dhellmann opened #656 "add health end point"
Add options to configure a health endpoint as in https://github.com/metal3-io/cluster-api-provider-metal3/blob/master/main.go#L81

[2020-09-29 09:23] maelk commented on #458
/remove-lifecycle stale

[2020-09-30 11:49] sumitjadhav1 commented on #461
With the last week's code commits, we see the firmware details updated in introspection data for Virtual as well as Real nodes.
Not sure which commit in metal3 or Ironic code exactly fixed this issue. Closing the issue now.

Here are the sample outputs :
1. For Virtual Nodes

`      firmware:
        bios:
          date: 04/01/2014
          vendor: SeaBIOS
          version: 1.10.2-1ubuntu1

[2020-09-30 18:35] #651 closed

[2020-10-07 10:23] s3rj1k commented on #578
Hi @maelk, sorry to bump this up.

Can you please clarify the current state of fast_track.

I can see that it is enabled in Ironic image by default and disabled in baremetal operator.
Is this correct?

If correct, are there any plans on re-enabling fast_track, assuming upstream fixes for Ironic are working?

[2020-10-07 11:24] maelk commented on #578
Yes, we'll give it another try soon. If fast track works, then we'll have to modify metal3-dev-env to set it correctly.

[2020-10-07 21:42] Lukasz-SendGrid opened #670 "When Restoring From Annotation Fails BMO Will Instead Deprovision and Start Intake"
Some context, I was restoring a one node cluster which was managing a 9 node main management cluster which manages many other clusters. To perform the backup I paused the cluster object, made sure all the status and paused annotations were added to the bmhs, and did a velero backup.

During the restore I brought up all the capi/capm3/bmo components, scaled down bmo, did the velero restore. At this

[2020-10-08 05:58] maelk commented on #670
This behaviour is quite surprising. If BMO fails to restore the status, it should not remove the annotation, and simply retry : https://github.com/metal3-io/baremetal-operator/blob/master/controllers/metal3.io/baremetalhost_controller.go#L140 . So it should just retry. Could you please let us know what version of BMO you are using (which tag you are using, or any info that would help us) and put t

[2020-10-08 17:31] Lukasz-SendGrid commented on #670
Hi @maelk Thanks for looking into this! I am running bmo/capm3 version `0.4.0` capi version `v0.3.8`
I've split out the logs centering around each specific bmh error type and attached them below. I noticed that between the 4 nodes two first threw this error `Could not delete status annotation` and the other two `Could not restore status from annotation`  The logs for `Could not restore status from

[2020-10-08 17:40] maelk commented on #670
In the logs you gave, BMO was able to go pass the errors, it just retried when it hit the conflict. I fail to understand the issue here. It looks like it was able to restore the status on the second try. What were you expecting to see ?

[2020-10-08 17:59] Lukasz-SendGrid commented on #670
I see yes that is true but after each of the 4 then hit this part same in all the logs when they started deprovisioning and I guess that's the question at hand. Since it looks like it was able to read in that the bmh was in the provisioned state, but with the timestamps right after it started to deprovision the box why would that occur?

[code]

[2020-10-08 18:32] Lukasz-SendGrid commented on #670
Well after going through the capi logs, it looks like the problem lies with new machine sets getting created even though the existing ones successfully adopted the machines associated with them.

[capilog.log](https://github.com/metal3-io/baremetal-operator/files/5350647/capilog.log)

[2020-10-08 18:50] Lukasz-SendGrid commented on #670
Which led me to the capm3 logs, here it looks like the while it is waiting for `0 hosts available while choosing host for Metal3 machine` at the same time bmo was still trying to reconcile the old status when comparing the timestamps, and before it can reconcile correctly the old status the m3m gets marked for deletion.
[capm3.log](https://github.com/metal3-io/baremetal-operator/files/5350728/capm

[2020-10-09 07:17] maelk commented on #670
I would say the issue is probably in CAPI only. You can see in the logs :
[code]
So basically it creates the replicas before adopting the old machines, and realizes it has too many replicas and deletes the old ones. Was the cluster properly paused when restoring ? If so there might be an issue in CAPI itself. this should not happen in this order.

[2020-10-09 17:25] Lukasz-SendGrid commented on #670
Yes I have the dumps of all the yaml used in the restore and can confirm the cluster was paused, and good catch this looks to have happened before bmo even started reconciling.

Appreciate your help in looking into this @maelk ! I'll close this out and move this over to the capi board and see what they think https://github.com/kubernetes-sigs/cluster-api/issues/3770

[2020-10-09 17:25] #670 closed

[2020-10-14 13:35] fmuyassarov commented on #626
/kind feature

[2020-10-14 13:38] fmuyassarov commented on #634
/kind feature

[2020-10-14 13:40] fmuyassarov commented on #654
/kind feature

[2020-10-27 06:49] #656 closed

[2020-10-27 14:02] furkatgofurov7 opened #697 "Retry when node in "Adopt Failed" state"
Currently, we are not retrying when ironic fails to adopt and puts the node in 'adopt failed' state:  https://github.com/metal3-io/baremetal-operator/blob/master/pkg/provisioner/ironic/ironic.go#L1001

As [checked](https://docs.openstack.org/ironic/latest/_images/states.svg), we could try to retry to get a node out of "adopt failed" by:

-  sending manage command(via API) ==> manageable
- sending

[2020-10-27 14:03] furkatgofurov7 commented on #697
/cc @dhellmann
/cc @maelk
/cc @zaneb

[2020-10-27 19:52] zaneb opened #698 "Registration of provisioned Host is never retried"
When calling `Adopt()` (in the provisioned or externally provisioned states), we assume that either the Node does not exist in Ironic (in which case we attempt to register it), or that it is in the manageable state. If the Node exists in the enrol state due to Ironic having failed to move it to manageable (e.g. because the BMC is temporarily unreachable), then we go into an infinite reconcile loop

[2020-10-27 19:57] zaneb commented on #698
I have a patch that I think may help with this, but I'm waiting for #388 to merge

@furkatgofurov7 this may be related to some of the issues you're seeing. #697 is a similar example of not handling all the possible states in `Adopt()`.

[2020-10-28 10:12] furkatgofurov7 commented on #698
@zaneb agree. Will the patch that you mentioned above, cover the case of #697 as well?

[2020-10-28 14:40] fmuyassarov commented on #697
/kind feature

[2020-10-28 17:37] zaneb commented on #698
No, we'll need a separate fix for #697.

[2020-10-29 11:30] furkatgofurov7 opened #703 "Limits in the manager manifests are too low"
The limits in the manager manifests are too low and cause BMO to crash when it handles a certain number of nodes. We have to remove limits and requests.

[2020-10-29 11:30] furkatgofurov7 commented on #703
/cc @kashifest
/cc @maelk

[2020-10-29 13:23] #703 closed

[2020-11-02 20:59] zaneb commented on #206
Stop judging us, @metal3-io-bot.
/remove-lifecycle stale

[2020-11-02 21:06] dhellmann commented on #206
/lifecycle frozen

[2020-11-03 14:52] furkatgofurov7 opened #708 "BMH goes to non recoverable error state"
There is a case where Ironic can't recover BMHs when connectivity with BMCs fails for some time.
After that, Ironic will set a bare metal node as failed when it can't connect to its BMC for a short period of time. Once a bmh is in RegistrationError, it cannot be recovered, breaking the whole cluster. I have tested it locally, to imitate the situation of BMC connectivity loss, I have deleted vbmc c

[2020-11-03 14:54] furkatgofurov7 commented on #708
@zaneb @dhellmann

[2020-11-03 15:17] zaneb commented on #708
It doesn't appear that you're testing with a version that includes #610 (there's no `Error Count` field in the output). Have you tried testing with that PR?

[2020-11-03 16:08] furkatgofurov7 commented on #708
@zaneb thanks, it seems that was the old log not including 610, but here is the one after 610 included with error count, please have  a look, it still gets stuck in registration error :
[code]

[2020-11-03 20:12] zaneb commented on #708
OK, yep, this looks like the issue we [discussed](https://github.com/metal3-io/baremetal-operator/pull/388#discussion_r496978645).

This is happening in the actual registering state (i.e. the node has never been registered). The triedCredentials are now set, so we won't try again, even though it isn't the credentials that were wrong.

This could also happen in the Ready or Provisioned states if `A

[2020-11-04 11:35] kashifest opened #709 "Too many connections towards ironic left open"
Current way of establishing http transport connection from BMO towards ironic(api, inspector etc.) is leaving too many connections open/idle. Here is a typical output from the host

[code]
For this reason, in specific deployments ironic or inspector is freezing after a certain amount of open connections are reached.

[2020-11-04 11:54] furkatgofurov7 commented on #708
/cc @kashifest

[2020-11-04 18:20] zaneb commented on #709
From the [`Transport` documentation](https://golang.org/pkg/net/http/#Transport):

So I think the problem here is that we are creating a new Transport for each provisioner we create (and we create one for each reconcile), and also we don't call `CloseIdleConnections()` before destroying it so they're leaking. We should have just one Transport, then we could take advantage of the performance benefi

[2020-11-11 10:35] sumitjadhav1 commented on #461
Re-opening this issue, as we have observed this issue with recent BMO code. This could be an Ironic issue it seems. Requesting @zaneb @dtantsur @juliakreger to take a look. With recent commits in metal3-dev-env, we observe that this data is updated in ramdisk logs but not in BMO introspection data. Here is the snippet :

`  "children" : [
    {
      "id" : "core",
      "class" : "bus",
      "cl

[2020-11-11 13:48] kashifest commented on #709
/close
Its addressed by #712

[2020-11-11 13:48] #709 closed

[2020-11-12 11:08] dtantsur commented on #461
As discussed on the community meeting, let's collect new inspector and ramdisk logs to be sure about the current root cause.

[2020-11-12 17:50] sumitjadhav1 commented on #461
Hi @dtantsur , attached logs as per request, PTAL and let us know if you need any additional logs.
[logs_Firmware_details_missing.zip](https://github.com/metal3-io/baremetal-operator/files/5532300/logs_Firmware_details_missing.zip)

[2020-11-13 12:04] TonyZhang1989 opened #718 "baremetalhost can't download /undionly.kpxe from tftp"
baremetalhost  can get ipaddress from dhcp server, but still can't download /undionly.kpxe file .

19:55:56.294507 b4:96:91:4c:93:c4 > b4:96:91:4c:95:bc, ethertype IPv4 (0x0800), length 73: 192.168.100.139.2071 > 192.168.100.111.69:  31 RRQ "/undionly.kpxe" octet tsize 0

my environment:
1. the size of "/shared/tftpboot/" is 70KB
2. kubernetes v1.18.10
3. CentOS 7.6 x86_64

pictures:
[https://ibb.

[2020-11-16 06:16] #718 closed

[2020-11-17 09:23] Xenwar opened #721 "User friendly BMH status"
As we have it now, the `kubectl get bmh` output contains information that is too detailed.
The content seems to be the same as what is in the logs.

It could be improved by changing it to an end user friendly string that is short enough to give relevant information.
more entries are added as comments.

[2020-11-17 09:23] Xenwar commented on #721
[code]

[2020-11-17 09:24] Xenwar commented on #721
[code]

[2020-11-17 09:29] andfasano commented on #721
Hi @Xenwar,
which are the columns that are too detailed? And could you please provide an example of the mentioned friendly string?

[2020-11-17 09:48] Xenwar commented on #721
@andfasano `The field is status.errorMessag`e as shown below. For the right string, I cannot suggest one at this moment as the log seems be propagating from ironic to BMO.
[code]

[2020-11-17 09:49] Xenwar commented on #721
Also note that, a similar error is show in the events section as well. I think this one is ok to keep.

[code]

[2020-11-19 03:13] TonyZhang1989 opened #724 "how to disable auto_tls"
hi guys,
     i got this error  "sslv3 alert bad certificate" on centos8 ramdisk .
     so i consider to change enable_auto_tls=False
    what should i do ?

[2020-11-19 10:07] sumitjadhav1 commented on #718
Hi @TonyZhang1989 , could you please let us know whether tftp download worked correctly for you in BIOS/UEFI mode...? Wanted to confirm since you closed this issue within couple of days. We are also facing similar issue as in [metal3-dev-env#491](https://github.com/metal3-io/metal3-dev-env/issues/491)

[2020-11-19 10:20] dtantsur commented on #724
Hi! Disabling TLS is intentionally made hard, you need to rebuild the ironic-python-agent image. But actually, you need to check what goes wrong with TLS verification in your case, maybe you need to update your base OS or something like that.

[2020-11-19 15:08] #450 closed

[2020-11-23 16:29] zaneb commented on #721
We have the errorType field now (it didn't exist originally and was added later)... that's probably enough for the get output. I'd support switching the errorMessage out for that.

[2020-11-26 19:23] #608 closed

[2020-11-27 14:14] mel1nn opened #731 "Use redfish-virtualmedia without DHCP server"
Hi, I want to use the redfish-virtualmedia process for my baremetal servers and I want to know if there is a way to inject network configuration in the kernel image instead of using the DHCP server of Ironic. It seems that Ironic enables the network configuration injection with virtual media (https://docs.openstack.org/ironic/latest/admin/drivers/redfish.html#layer-3-or-dhcp-less-ramdisk-booting).

[2020-11-29 11:47] furkatgofurov7 commented on #225
/remove-lifecycle stale

[2020-11-30 07:15] sumitjadhav1 commented on #461
Hi @dtantsur , could you please look into the logs and share your opinion on the same. In case you need additional logs, please let us know.

[2020-12-02 02:10] #570 closed

[2020-12-03 14:10] #604 closed

[2020-12-03 19:08] #698 closed

[2020-12-03 19:08] #708 closed

[2020-12-07 08:58] sumitjadhav1 commented on #461
Hi @dtantsur @juliakreger @elfosardo request your help on this issue. Could you please take a look ?? Do let us know in case of any additional information is required. Thanks

[2020-12-07 15:53] furkatgofurov7 opened #739 "BMH stucks in RegistrationError when vbmc is not reachable for short time"
We have the following scenario:
While BMHs' are in `registering` state, we are running a small script to simulate the scenario, where connection to vbmc will be lost, by simply stoping vbmc container, sleeping for 10 seconds, and starting vbmc again. When simulated, one of the BMHs will be stuck in registering which in turn results in `Registrationerror`. Interestingly, BMO tries to retry and hand

[2020-12-07 15:53] furkatgofurov7 commented on #739
/cc @zaneb @dhellmann @maelk

[2020-12-07 15:57] furkatgofurov7 commented on #739
This issue is the continuation of #708, after testing BMO with changes included #716.

[2020-12-08 13:21] mel1nn opened #744 "Drac operation failed"
Hi,
I want to provision a dell server (IDRAC 7, version 2.65.65.65), and before the Ironic inspection, an error occurs in the Ironic conductor: `dracclient.exceptions.DRACEmptyResponseField: Attribute 'CurrentAssignedSequence' is not nullable, but no value received`.

Thanks for your help !

[2020-12-09 10:32] s3rj1k opened #746 "[Request] More frequent tag releases"
We need more frequent tag releases to ease vendoring efforts of community.

[2020-12-09 10:38] s3rj1k commented on #746
@dhellmann @zaneb @maelk

[2020-12-09 14:55] dtantsur commented on #461
We have an invalid option name (`inspector` should be `inspection`), this is why the collection does not happen.

[2020-12-09 14:58] dtantsur commented on #461
/assign @dtantsur

[2020-12-09 16:41] #461 closed

[2020-12-09 17:01] zaneb commented on #746
I support this.
I also have no idea how to do it.

[2020-12-09 17:03] s3rj1k commented on #746
@zaneb just do git tag with proper version number (for go.mod support)

[2020-12-09 17:27] honza commented on #746
The question I'd have is how often do we make releases? How do we decide when to cut one? Should we somehow track k8s releases? I guess we should also think about backwards compatibility, and what guarantees we want to stick to, etc.

[2020-12-09 17:40] s3rj1k commented on #746
@honza My thoughts:
 - release should be on every change of public function or change of known public behavior
 - no need to track k8s releases strictly if k8s release does not change any known behavior
 - proper vendoring is a way of providing guarantees when something major changes
 - would be nice to see some quick comments on release when some major breaking change happens

[2020-12-09 18:38] zaneb commented on #746
I think it certainly makes sense to make a new release every time the CRD changes.

[2020-12-09 19:17] s3rj1k commented on #746
@zaneb One other example when release should be planned is this type of change https://github.com/metal3-io/baremetal-operator/pull/741

It does not have to be just exactly for this change only, release could accumulate number of features.

But this PR certainly could break things for community.

[2020-12-10 03:40] zaneb commented on #739
The problem is in the ironic provisioner. Looking at the Node data from ironic, there's no way to tell if there is a `last_error` showing because our attempt to move to manageable just timed out, or if we have seen it before, have waited the requisite time, and want to try again. There's no timestamp in the ironic data (and trusting timestamps from other services is questionable anyway.) Currently

[2020-12-10 11:36] furkatgofurov7 commented on #739
/cc @kashifest

[2020-12-10 13:41] furkatgofurov7 commented on #739
And I question myself, why we are only trying in the case of credentials being changed and not other cases i.e like the case this issue describing?

Yes, you are right, checked it [in my testing environment](http://paste.openstack.org/show/800925/).

[2020-12-10 15:52] andfasano commented on #739
@furkatgofurov7 are the BMO logs complete? I see that registration failure traces for `node-0` at the top, but no other traces (I was expecting to find some others, given the higher value of the ErrorCount)

[2020-12-10 16:59] zaneb commented on #739
We're missing the earlier ones (on the last one the retry delay is huge, so there are no later ones), but it doesn't really matter. They'll all look the same.

[2020-12-10 19:24] furkatgofurov7 commented on #739
@andfasano no, that is a truncated version of the logs, as OpenStack paste was not able to embed the full log so I had to truncate it a lot. However, the logs you are seeing specifically node-0 related almost from the end of the logs, but it is pretty much jammed with, all looking identical:

[code]

[2020-12-11 23:19] furkatgofurov7 commented on #739
@andfasano I tried to automate manual steps as much as I could, so to reproduce this scenario you can use the following simple steps:

- Clone [metal3-dev-env](https://github.com/metal3-io/metal3-dev-env.git), export some [env variables](https://github.com/metal3-io/metal3-dev-env/blob/3293407d842d8e89ed422460a8ca24dd159f62bc/README.md#environment-variables) and run `make` (we should have 2 BMHs'

[2020-12-15 11:58] andfasano commented on #739
Thanks @furkatgofurov7

[2020-12-16 14:47] fmuyassarov commented on #724
/priority awaiting-more-evidence

[2020-12-16 14:50] fmuyassarov commented on #731
/kind feature

[2020-12-16 14:51] fmuyassarov commented on #739
/kind bug

[2020-12-16 14:52] fmuyassarov commented on #744
/cc @dtantsur
Can you please check it with Ironic community? Because, it seems related directly to Ironic.

[2020-12-16 14:53] fmuyassarov commented on #744
/kind bug

[2020-12-16 14:53] fmuyassarov commented on #746
/kind feature

[2020-12-22 18:55] #432 closed

[2020-12-31 06:47] #41 closed

[2020-12-31 14:47] #618 closed

[2021-01-05 14:38] hardys commented on #458
/remove-lifecycle stale

[2021-01-06 16:23] #458 closed

[2021-01-08 05:26] #624 closed

[2021-01-12 13:58] fmuyassarov commented on #626
/remove-lifecycle stale

[2021-01-12 14:25] s3rj1k commented on #634
/remove-lifecycle stale

[2021-01-12 14:25] s3rj1k commented on #654
/remove-lifecycle stale

[2021-01-12 16:53] andfasano commented on #207
@furukawa3 do you think this issue should be reopened (PR #302 looks still in progress)?

[2021-01-12 19:28] zaneb commented on #697
Reopening because this is not working, even once the improvements in #749 merge: the call to `actionRegister()` clears all errors before we get to adoption, so the `force` flag will never be true.
There is a proposal in #757 to only clear the error in `actionRegister()` if it is of type `RegistrationError`, but even that won't help since this is also the type of error we set after adoption fails.

[2021-01-13 14:20] #739 closed

[2021-01-15 01:07] hase1128 commented on #207
/reopen

[2021-01-15 01:10] hase1128 commented on #207
@andfasano

we need to repoen this issue(feature request).
#302 is still in progress, and we can close this issue after #302 is merged.

[2021-01-15 01:13] hase1128 commented on #207
/assign

[2021-01-15 01:13] hase1128 commented on #207
/reopen

[2021-01-15 02:05] hase1128 opened #765 "Support BIOS setup for baremetal server"
I recreated this issue instead of #207 , because I took over this issue from @furukawa3

In order to setup/reset BIOS, vendor driver is necessary. This issue proposes a new yaml
attribute to setup BIOS with Fujitsu PRIMERGY server by using iRMC driver.

[2021-01-15 02:06] hase1128 commented on #207
I recreated this issue(#765 ).

[2021-01-15 02:08] hase1128 commented on #765
This issue can be closed after #302 is merged.

[2021-01-18 15:06] s3rj1k commented on #746
any news on this?

[2021-01-20 19:41] #697 closed

[2021-01-21 10:02] mel1nn opened #775 "Ironic does not support ilo5"
I want to provision a baremetal server (HPE) using the ilo5 bmc.
When I apply the related baremetalhost on my cluster, an error occurs in the Ironic pod:
` No valid host was found. Reason: No conductor service registered which supports driver ilo5 for conductor group`.

Thanks for your help.

[2021-01-22 20:06] #721 closed

[2021-01-25 09:55] elfosardo commented on #775
hi @mel1nn , ironic does support ilo5 and baremetal operator has added also support for that type of hardware some months ago.
Looking at the error you're seeing I suspect the ilo5 hardware type is not included in the ironic configuration.
You can see here https://docs.openstack.org/ironic/latest/admin/drivers/ilo.html how to configure it.

[2021-01-25 09:59] mel1nn commented on #775
Thanks for your answer. But why this configuration is not included by default in the ironic image (https://github.com/metal3-io/ironic-image) ?

[2021-01-26 12:12] s3rj1k opened #779 "Kubectl field-selector does not work for some fields in BMH"
This does not work: ```kubectl get bmh --field-selector=spec.online=true``` and outputs:
[code]

One would think that ```spec.*``` is not supported selector but this works (for pods):
```kubectl get pods --field-selector=spec.restartPolicy=Always```

Seems that this is more of a k8s issue rather than operator, but still makes me wonder, can field selector support be some how extended to BMH?

[2021-01-26 14:18] dhellmann commented on #779
I wonder if this is a difference in behavior between native types and CRDs?

Can you use `status.poweredOn` instead?

[2021-01-26 14:27] s3rj1k commented on #779
@dhellmann
[code]
Also does not work

[2021-01-26 14:33] s3rj1k commented on #779
[code]

does not work for strings :(

[2021-01-27 10:20] hardys commented on #775
Agreed - it looks like @ankit-kumar5 added the initial ilo support via https://github.com/metal3-io/baremetal-operator/pull/595 and there are also some related virtualmedia changes from @honza and @dhellmann looking at the git history.

I suspect not updating the ironic-image default configuration was an oversight, and we should add the ilo drivers to those enabled in https://github.com/metal3-io/

[2021-01-27 10:31] hardys commented on #744
It seems like there is something missing in the drac response which triggers this error:

https://opendev.org/openstack/python-dracclient/commit/ba1eb4aa99db7b78168ff2b0d19918924a0cb2aa

As mentioned this is probably something to investigate with the Ironic community via https://storyboard.openstack.org/#!/project/openstack/ironic - you'll need to include the ironic-conductor logs and details of t

[2021-01-27 10:40] dtantsur commented on #744
Unfortunately, I'm not familiar with dracclient any more, you'll need to ask rpioso or ajya on #openstack-ironic IRC.

[2021-01-27 13:50] fmuyassarov commented on #779
@s3rj1k I'm not sure if you can filter with any field. [Here](https://github.com/kubernetes/kubernetes/blob/35bf00acb1f5f2be22cdcb180c5e1227a72934fc/pkg/apis/core/v1/conversion.go#L33) is it seems `--field-selector` is limited to
[code]
and I think that's the same for CRD...

[2021-01-27 13:59] fmuyassarov commented on #779
Sorry, not fully the same, because some fields might not exist in CRD.

[2021-01-27 14:11] s3rj1k commented on #779
@fmuyassarov Thanks!

So this is indeed k8s issue, seems that `field-selector` code is useless in real world.

Was hoping using this as a selector in golang code.

[2021-01-27 14:11] #779 closed

[2021-01-27 21:11] rpioso commented on #744
@mel1nn, if possible, please share the exception's entire stack traceback from the ironic-conductor service log.

Thank you!

[2021-01-28 09:32] mel1nn commented on #744
I made a new test today and I do not have the error anymore, great ! I saw that the ironic images were updated few days ago, so probably the error was patched.

Thanks for your help.

[2021-02-10 22:36] Lukasz-SendGrid opened #790 "BMO should overwrite spec.online to false if inspector.conf has "power_off = true" after inspection"
Something we've ran into, when setting this option in `inspector.conf` ran by the ironic-inspector container:

[code]

when inspection is completed, the node is powered off, but the spec for the bmh doesn't change and `spec.online: true` is still set, so when bmo goes to perform it's power check every minute it will enforce what's in the spec thus turning the machine back on. A more consistent beh

[2021-02-11 14:19] dhellmann commented on #790
The Spec fields for the host are the source of truth for what the user has indicated they want. If you want the host offline after inspection, you can set `online: false` when you create the host without changing Ironic's configuration.

[2021-02-11 16:10] Lukasz-SendGrid commented on #790
Works for me. Thank you for the quick response! Closing.

[2021-02-11 16:10] #790 closed

[2021-02-12 08:46] s3rj1k opened #792 "[info] Add detailed description for ValidateManagementAccess function."
Would be nice to have a more detailed explanation what actually is intended for `ValidateManagementAccess` function to do, or maybe a link to documentation also could be helpful.
https://github.com/metal3-io/baremetal-operator/blob/master/pkg/provisioner/ironic/ironic.go#L360

@dhellmann

[2021-02-17 16:56] elfosardo commented on #775
@hardys I do agree, ilo5 should be there

[2021-02-18 21:15] s3rj1k opened #798 "Resetting status.errorCount manualy?"
Is there any way of re-setting `errorCount` manually inside bmh object?
Maybe using some kind of special annotation?

[code]

Waiting for ~5h is a bit too much :)

Would you be willing to accept for review PR that add special annotation for clearing error count and message?

[2021-02-24 14:10] fmuyassarov commented on #765
/kind feature

[2021-02-24 14:15] fmuyassarov commented on #792
/kind cleanup

[2021-02-24 14:16] fmuyassarov commented on #798
/kind feature
/cc @andfasano

[2021-02-24 14:16] maelk commented on #775
This should probably be transferred to the ironic-image repo. Shall I do it ?

[2021-02-24 14:18] mel1nn commented on #775
Yes it should ! Thanks

[2021-02-24 17:12] s3rj1k opened #802 "Consider filtering-out link-local IPs in bmh status."
Currently link-local IPv6 can be present in BMH status after inspection by IPA.
Would be nice to filter them out when status is filled by operator.

[2021-02-25 11:17] andfasano commented on #798
The error count was meant to introduce an exponential backoff in case of error, so clearing out the message doesn't seem the correct thing to do to manage an erroneous situation: there should be an intervention (manual or automatic) to fix the problem, with a subsequent re-evaluation (reconcile) that will take care of clearing error if the right conditions are met. Can you please provide more deta

[2021-02-25 13:47] s3rj1k commented on #798
@andfasano Image field on bmh object was incorrectly set in this particular case, this triggered multiple reconsiles and eventually a backoff.

I think that we need some kind of a backup plan to remove this errors without re-provisioning bmh.

[2021-02-27 16:06] maelk commented on #225
/remove-lifecycle stale

[2021-03-02 21:13] fmuyassarov opened #804 "Upgrade to CRD to apiextensions.k8s.io/v1"
The `apiextensions.k8s.io/v1beta1` API version of CRD was deprecated in k8s v1.16 and will no not be served anymore starting from v1.22. We should upgrade all our CRDs to v1.
Reference document: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122

[2021-03-03 00:49] fmuyassarov commented on #804
On top of that, `admissionregistration.k8s.io/v1beta1` API version of MutatingWebhookConfiguration and ValidatingWebhookConfiguration will no longer be served in v1.22.

[2021-03-09 14:00] knfoo opened #810 "Set boot device for pxe boot"
When I am reading the api documentation, the reference does not describe the `bootMACAddress`, but it is used in the examples, this kind of confused my to believe that it was actually used to set the boot nic device.

IT seems that the documentation in the code states that it is only used for the libvirt vbmc integration.
https://github.com/metal3-io/baremetal-operator/blob/0e689212fe8cc2fa3c7d863

[2021-03-09 14:08] dhellmann commented on #810
The `bootMACAddress` value is used to link inspection data back to the node in Ironic, and therefore back to the host resource in metal3. Ideally it is the MAC of the NIC on which the host PXE boots, but I'm not sure that's a strict requirement as long as it is a real MAC from a NIC in the host.

[2021-03-10 16:07] knfoo commented on #810
OK that makes sense.
It would be really cool if it was also used to configure the host to PXE boot from that mac.
And even be able to set if it should be IPv4 or IPv6.

[2021-03-11 14:59] s3rj1k commented on #798
@andfasano Any ideas how to approach this?

[2021-03-11 16:29] andfasano commented on #798
And fixing the Image field on the bmh object didn't retrigger the reconcile loop and cleared out the errorCount? If not, that's the issue to be fixed

[2021-03-11 18:47] s3rj1k commented on #798
@andfasano no, to re-trigger I had to pause/resume reconcile via annotation, after that, successful de-provisioning cleared errorCount as expected.

[2021-03-14 18:09] fmuyassarov commented on #804
/priority important-soon

[2021-03-15 13:56] dtantsur commented on #810
To my best knowledge, IPMI does not provide this ability. Redfish does (on some systems), but in a vendor-specific way (through BIOS settings or UEFI boot order, which are not standardized).

[2021-03-15 15:26] #804 closed

[2021-03-15 17:49] s3rj1k commented on #798
@andfasano So this happened again in different setup, stuck at backoff with no apparent way to trigger reconcile.

[code]

This error happened because of ironic not providing free port to `worker-1` node, but this is different story, not related to this feature.

cc: @dhellmann

Can we please consider implementing this in some way?

For additional notes, ironic error happened due to Ironic pod bei

[2021-03-16 12:11] andfasano commented on #798
I guess could make sense to have an explicit mechanism to force re-triggering a reconciliation loop for a specific BMH, considering that in some cases the remediation task could be an external (in respect to the resource) activity carried out by a user, but still wondering why amending the Image field didn't work, as it is a normal spec field?

[2021-03-16 13:47] dhellmann commented on #798
Any edit of the host resource should trigger reconciliation. If we want a less crude way to do it, we could add an annotation API to reset the value, but maybe it would be better to reduce the longest wait time that we use?

[2021-03-16 14:24] s3rj1k commented on #798
@dhellmann

This would help to make this kind of issues to solve semiautomatic,

but also this approach would greatly help with debugability

currently struggling with this long back-off blocking and unability to disable this during debuging.

[2021-03-16 15:39] andfasano commented on #798
I'm not very keen to such approach (if the intention it's to zero the value), as it will give the user the possibility to modify a field that it is managed by the operator - and usually the ErrorCount goes in pair with the ErrorMessage, so it wouldn't be enough to clear it.
I think that in such cases what it's required it's something like a "wake up" annotation that will set it to 1, forcing thus

[2021-03-16 16:15] dhellmann commented on #798
That makes sense. I was mostly pointing out that *any* edit to the host should trigger reconciliation, so we don't need a special API just to trigger a retry. If we wanted an API to let the user say "I think I have cleared the error on this host, try again" then an annotation would make sense instead of a spec field, because the controller could delete the annotation.

[2021-03-16 16:44] s3rj1k commented on #798
@andfasano So how do we set ErrorCount to 1 ?

via annotation?

[2021-03-16 17:19] andfasano commented on #798
The idea sounds fine to me, but I think we should prepare first a design proposal on https://github.com/metal3-io/metal3-docs to be discussed and approved by the community (I could prepare a draft tomorrow in case)

[2021-03-16 19:30] s3rj1k commented on #798
@andfasano Would be great, thanks!

[2021-03-18 10:00] sumitjadhav1 opened #818 "RAM parameter and value are absent in Node Introspection Data (using redfish)"
After performing introspection from baremetal operator using redfish driver, all the required introspection data is populated in the Baremetal host CR.

But RAM parameters are absent in this data. This was working earlier, seems some recent changes have broken this functionality.

This causes regression issue in HWCC, Here is the snippet :

![RAM-Comparison-Failure](https://user-images.githubuserc

[2021-03-18 10:08] sumitjadhav1 commented on #818
/kind bug

[2021-03-18 12:57] zaneb opened #819 "Excessive logging of provisioner details"
Since cadeb28e31 we now log details about the provisioner on every reconcile instead of once at startup.

[2021-03-22 13:33] fmuyassarov commented on #818
I remember seeing `status.hardware.ramMebibytes` previously in bmh manifests. I don't know what has changed but I also don't see it in the bmh manifests saved from the [integration CI run](https://jenkins.nordix.org/view/Airship/job/airship_master_v1a4_integration_test_ubuntu/).

[2021-03-23 19:26] zaneb opened #828 "Power management errors are never reported"
The `PowerOn()` and `PowerOff()` method of the ironic Provisioner never return an ErrorMessage, so despite a considerable amount of accounting that is in place for power management errors, none will ever be reported. If changing the power state fails (i.e. ironic accepts our request but is unable to carry it out) we just keep silently trying forever.

To resolve this we will need to implement chec

[2021-03-24 09:44] levsha commented on #731
Another solution could be to use out-of-band inspection that redfish supports: https://docs.openstack.org/ironic/latest/admin/drivers/redfish.html#out-of-band-inspection
I've tried some dirty change and it seems to be doable: https://github.com/levsha/baremetal-operator/tree/no-inspector
IPA will be still required to provision the image, but solution for that step could be to use live-iso format.

[2021-03-24 10:24] dtantsur commented on #731
/remove-lifecycle stale

We're still interested in DHCP-less deploy, I'm working on certain blockers in RHEL/CentOS 8 support upstream.

[2021-03-24 15:21] zaneb commented on #798
@s3rj1k Please open a new bug and upload logs so we can figure out what the root cause is here.
As Andrea and Doug pointed out, modifying the BMH to fix the erroneous configuration will cause an immediate reconcile, and the fact that another reconcile is scheduled in 5 hours time is not relevant.

There is definitely work still to be done on retrying provisioning. When a bad image is set I believe

[2021-03-24 16:46] s3rj1k commented on #798
@zaneb For the most part https://github.com/metal3-io/metal3-docs/pull/171 seems like a solution, let's keep this one open until that design doc is implemented.

If I encounter similar issue to this I will do another more specific issue with logs.

[2021-03-24 17:53] yee379 opened #832 "running tools/deploy.sh does not create metal3 namespace"
just trying a simple install using

    IRONIC_HOST=myhost IRONIC_HOST_IP=172.20.0.10 ./deploy.sh true true true true false

spits out a bunch of errors:

    Error from server (NotFound): error when creating "STDIN": namespaces "metal3" not found

upon inspection, this is because the

    ${KUSTOMIZE} build "${IRONIC_SCENARIO}"

doesn't seem to include a `create namespace metal3` artifact.

[2021-03-24 18:12] zaneb commented on #798
No that is absolutely not a solution. In fact that the existence of such workarounds tends to prevent people from reporting obvious bugs is one reason not to implement them.

[2021-03-24 18:29] levsha commented on #731
I was able to boot Fedora CoreOS live iso using idrac-virtualmedia in L3 DHCP-less network: https://gitlab.com/iatlevsha/ironic/-/tree/master/deployments/kubernetes/ironic/idrac-l3
Still WIP.

Notable steps I've done for this:
* built my own minimal ironic image (might not be required, but I've found it easier to do ironic configuration changes another way)
* removed the line in BMO code that expl

[2021-03-24 18:51] s3rj1k commented on #798
@zaneb existence of such workaround help people fix issues in production clusters without recompiling code and not having new gray hair appearing.

Lets not forget that contributions to code works both ways, sometimes community just needs some workaround to solve current active problems without waiting for quite some time for a proper fix.

[2021-03-24 19:35] knfoo commented on #810
OK, I guess it is just a wish then.
Thank you for the information.

[2021-03-25 17:58] s3rj1k opened #834 "Strange log output when deleting node via Ironic API"
[code]

To reproduce, you would need to delete node from Ironic DB just before next reconcile loop (yes I would have to time it with timer to wait 50 seconds after previous loop for that specific node)

To delete do something like this:
[code]

Full log below:
[code]

[2021-03-26 15:29] dtantsur commented on #828
This sounds like something we could implement in ironic.

[2021-03-26 19:32] zaneb commented on #828
+1, I doubt metal³ is the only potential consumer of that.

[2021-03-29 10:39] #819 closed

[2021-03-30 15:53] zaneb opened #839 "Image update in ironic on re-registration is fragile"
Updating the image data during registration using `getImageUpdateOptsForNode()` happens only if the node doesn't exist. This is a bug, because if writing the image data it fails then we will never try it again so long as the node exist.

Without data we cannot adopt, so if this occurred we would be stuck in a permanent error loop if the host is in the Provisioned/Deprovisioning states.

_Originall

[2021-03-31 18:12] fmuyassarov commented on #839
Do we need to add a retry ?
/kind bug

[2021-03-31 19:55] zaneb commented on #839
It retries fine, but on the retry the Node will already exist in Ironic. The image setting are currently only written in the path where the Node didn't exist and we had to recreate it. They should be written unconditionally, whether the node already existed or not.

[2021-03-31 20:07] zaneb commented on #834
So what happens is that at the start of reconciling, we call `ValidateManagementAccess()` (which probably should be called `Register()`), which ensures that we have a Node in ironic. Subsequent operations in the same reconcile assume that the Node exists. If you manage to delete the Node after `ValidateManagementAccess()` but before we try to use it for something (impressive timing!), the provison

[2021-03-31 20:07] #834 closed

[2021-04-01 00:39] #626 closed

[2021-04-01 09:22] andfasano opened #843 "Error not reported when creating a new host with a malformed BMC address"
When creating a new BMH with a malformed BMC Address - ie `<redfish+http://192.168.111.1:8000/redfish/v1/Systems/9319b7de-db9f-4035-8a2a-63226cda969c>` - the early validation fails and the BMH Provisioning state remains in the `Registering` state without reporting any error.
BMO logs shows anyhow the error and the details of the problem, ie:

[code]

[2021-04-01 18:00] sadasu commented on #828
I would think that each controller needs to make the decision for itself to proceed to the remedial action (in this case a hard power off) when soft power off isn't succeeding.

[2021-04-05 12:03] fmuyassarov commented on #832
That's right, we don't create `metal3` namespace. This is needed for Ironic deployment I believe. Probably we need to add namespace creation step before `./tools/deploy.sh <deploy-BMO> <deploy-Ironic> <deploy-TLS> <deploy-Basic-Auth> <deploy-Keepalived>` in https://github.com/metal3-io/baremetal-operator/blob/master/docs/deploying.md.

/kind documentation

[2021-04-06 10:17] #839 closed

[2021-04-13 18:04] zaneb commented on #744
/close

[2021-04-13 18:04] #744 closed

[2021-04-13 18:16] zaneb opened #855 "Validating Webhook for BareMetalHost"
There's a number of values or changes in a BMH Spec that we know are invalid, but that we don't prevent the user from commiting. A validating webhook would allow us to reject these values synchronously before the CR is written, thus relieving both us and the user from asynchronous error reporting.

This bug will serve as a place to record known invalid configs that should be checked by a webhook,

[2021-04-14 09:57] sumitjadhav1 commented on #818
Attaching Ironic-Inspector, Ironic-Conductor, BMO logs for reference.
In Ironic-conductor log, we see "size_gib" as 4, whereas in inspector/bmo logs "physical_mb" is seen 0.

@dtantsur Please take a look and let us know if any additional info required.

[bmo.log](https://github.com/metal3-io/baremetal-operator/files/6309997/bmo.log)
[ironic-conductor.log](https://github.com/metal3-io/baremetal-ope

[2021-04-14 12:57] andfasano commented on #843
/close fixed by #838

[2021-04-14 12:57] #843 closed

[2021-04-14 13:24] dtantsur commented on #818
You'll also need ramdisk logs, `physical_mb` is coming from `dmidecode` output.

And note that `size_gib` is likely about the hard drive, not RAM.

[2021-04-14 13:53] sumitjadhav1 commented on #818
Ironic-inspector log snippet, will this suffice for ramdisk logs as I don't see any ramdisk log present in /var/log/ironic-inspector/ramdisk/ [_If something fails during the introspection ramdisk run, ironic-inspector stores the ramdisk logs in /var/log/ironic-inspector/ramdisk/ as gz-compressed tar files_] : `2021-04-14 07:26:39.436 1 DEBUG ironic_inspector.main [req-28e6ee9b-f9ed-4f9a-a498-a637c

[2021-04-15 01:45] zaneb commented on #818
The interesting parts of the inspection data from the bmo logs:

[code]

We use the top-level [`memory_mb`](https://github.com/metal3-io/baremetal-operator/blob/master/pkg/provisioner/ironic/hardwaredetails/hardwaredetails.go#L19). So it looks like the problem is in IPA somewhere.

[2021-04-15 11:18] andfasano commented on #855
- Expected value on some annotations (ie `inspect.metal3.io`)?
- It would be useful to capture all these checks in one point only, so that they could be shared by both the webhook and controller

[2021-04-16 07:06] ardaguclu commented on #855
@s3rj1k are you working on it?

[2021-04-16 09:31] s3rj1k commented on #855
@ardaguclu No, just watching issue for updates

[2021-04-17 06:31] ardaguclu commented on #855
/assign @ardaguclu

[2021-04-21 05:55] sumitjadhav1 commented on #818
Thank @zaneb for your analysis. Can we take this up for resolution ? Since it's a regression issue.

[2021-04-21 13:01] dtantsur commented on #818
We need ramdisk logs, I cannot understand anything from the resulting data only.

[2021-04-21 13:04] dtantsur commented on #818
I think nowadays ramdisk logs are published as podman logs from a separate container and removed from `/var/log/ironic-inspector/ramdisk` after that. Please check it.

[2021-04-21 13:13] namnx228 commented on #802
Please explain why we need to filter out link-local IPv6 in BMH status

[2021-04-21 13:36] s3rj1k commented on #802
@namnx228 They do not have any value as they are generated by kernel and potentially can be different from link-local IPs generated on real server (not in ramdisk of IPA).

Only thing that they do in this context is occupy space in resulting YAML/Object

[2021-04-21 17:59] zaneb commented on #818
https://opendev.org/openstack/ironic-python-agent/commit/448ded43fe1cfea9247dbd5612715124e5abbb55 looks potentially related.
See https://storyboard.openstack.org/#!/story/2007588.

In any event not a baremetal-operator issue, so...
/close

[2021-04-21 17:59] #818 closed

[2021-04-28 15:01] sumitjadhav1 commented on #818
Attaching ramdisk logs as per requested in community meeting, please check node-19 (886bd373-d5fa-4c09-a103-c548a260df2f) in file, reopening till we get some guidance on this.

@dtantsur PTAL

[ramdisk-logs-Real-Node-Setup.txt](https://github.com/metal3-io/baremetal-operator/files/6392828/ramdisk-logs-Real-Node-Setup.txt)

[2021-04-28 15:01] sumitjadhav1 commented on #818
/reopen

[2021-04-28 16:24] zaneb commented on #818
I opened https://storyboard.openstack.org/#!/story/2008865 to track this.

[2021-04-28 19:43] zaneb commented on #818
This was broken by lyonel/lshw#60.

I submitted a fix at lyonel/lshw#65, and a workaround in IPA at https://review.opendev.org/c/openstack/ironic-python-agent/+/788588

[2021-04-30 12:45] s3rj1k commented on #746
/remove-lifecycle stale
still an issue, but after https://github.com/metal3-io/baremetal-operator/commit/f4865dbd25f288543513b1afb3f0e614070ad226
could we maybe tag API releases instead?

[2021-05-07 07:28] ardaguclu opened #872 "Run golint as a binary to remove dependency"
Currently golint has been used as a dependency in baremetal operator. This will increase the binary size and to run golint for `apis/` module, it forces to be added as a dependency for `apis/` as well.

As @s3rj1k suggested, golint can be used as a binary(https://golangci-lint.run/usage/install/). Thanks to that we will reduce the binary size and be able to run apis module using this binary withou

[2021-05-07 12:06] sumitjadhav1 commented on #818
@dtantsur @zaneb @bfournie @elfosardo @fmuyassarov Please share the IPA images to be used for verifying this fix. Thanks in advance.

[2021-05-07 14:38] dtantsur commented on #818
You can try the centos8-master images from https://tarballs.opendev.org/openstack/ironic-python-agent/dib/files/ for testing

[2021-05-07 18:51] sumitjadhav1 commented on #818
I tested the same, we do see RAM updated now but also received ramdisk error in ironic-inspector log which says :

`.0-ata-1'}, 'boot_interface': '24:6e:96:53:10:e4', 'configuration': {'collectors': ['default', 'extra-hardware', 'logs'], 'managers': [{'name': 'IntelCnaHardwareManager', 'version': '1.0'}, {'name': 'generic_hardware_manager', 'version': '1.1'}]}, 'logs': '<hidden>', 'error': "The fo

[2021-05-11 15:48] s3rj1k opened #874 "Provide steps that allows dropping fields from public API."
We need a design doc that can describe a process of deprecating any (unneeded) struct fields in public.

One example would be PR https://github.com/metal3-io/baremetal-operator/pull/850 that introduces new field in public API that describes disk type and this field supersedes `Rotational` field.

So evidentially it would be nice to deprecate `Rotational` field from public API.

[2021-05-11 16:28] s3rj1k opened #875 "Gomod for public API broke controller-tools object generation"
After https://github.com/metal3-io/baremetal-operator/commit/f4865dbd25f288543513b1afb3f0e614070ad226
There is no simple way on regenerating objects for public API.

Current `make generate` does **not** generate objects for public API (silently ignores).

To actually see that object generation is broken, one would need to run
[code]

Output:
[code]

To manually regenerate objects, as a temporary m

[2021-05-11 16:30] s3rj1k commented on #875
highlighting everyone who participated in https://github.com/metal3-io/baremetal-operator/pull/857
/cc: @kashifest @dhellmann @zaneb @maelk

[2021-05-11 16:57] dhellmann commented on #875
It's worth experimenting with that, but I expect kubebuilder would have trouble finding the file to add new things to it when we add a controller or API version.

One approach we discussed and rejected before we turned `apis` into a separate module was using a separate git repo. How much would that save us in terms of dependencies, if there was only an API and no matching controller?

[2021-05-11 17:20] dhellmann commented on #875
This second idea is the approach I meant.

We should be able to have 1 kubebuilder repo with just an API in it and another with the controllers, provisioners, etc. Our controller already imports and uses other API definitions like Secret.

Yes, tagging the API repo more often would make consuming it easier.

What difficulties would splitting the APIs into a separate repo introduce? Are we likely t

[2021-05-11 21:48] zaneb commented on #875
Tangentially related problem: https://github.com/metal3-io/baremetal-operator/pull/865#discussion_r620373011

I _think_ a solution to that is to make it possible to import the api package without automatically registering the type to a GVK. Then in the baremetal-operator we could register a type that inherits from BareMetalHost and adds validation code but exists in a different package. We could h

[2021-05-12 08:06] maelk commented on #875
It should also possible to run the executables in the apis folder. That allows to generate the manifests and others without changes. Anything that we do at the root of the repo should be doable in the apis folder too afaik.

[2021-05-12 08:10] maelk commented on #875
That would be exactly the same solution as https://github.com/metal3-io/baremetal-operator/pull/871

[2021-05-12 08:15] s3rj1k commented on #875
@maelk Separate binary does not work, this is due to a problem being in separate go.mod for sub package and root repo go.mod.

[2021-05-12 08:24] furkatgofurov7 commented on #875
We were seeing the same problem when working with putting go modules same way in IPAM and solution was [af0e50e](https://github.com/metal3-io/ip-address-manager/pull/32/files#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52R172-R176)

[2021-05-12 08:24] kashifest commented on #875
Could this be a solution https://github.com/metal3-io/baremetal-operator/pull/877 ?

[2021-05-12 09:02] s3rj1k commented on #875
@furkatgofurov7 @kashifest both of the solutions do not work as one would expect

![изображение](https://user-images.githubusercontent.com/11349489/117948333-b6f50f80-b319-11eb-80f2-27e4474f37dc.png)

[2021-05-12 09:05] s3rj1k commented on #875
on the other hand, using binaries directly does work as expected

![изображение](https://user-images.githubusercontent.com/11349489/117948957-4dc1cc00-b31a-11eb-94ef-96f2a1183ca9.png)

objects are generated and no new `require` packages are needed

[2021-05-12 09:06] s3rj1k commented on #875
(sorry for none-English locale)

[2021-05-12 09:09] dtantsur commented on #875
Hint re locale:
[code]
[code]
(I have a habit of setting the system locale to English specifically to avoid scaring people with cyrillics :D )

[2021-05-12 09:09] kashifest commented on #875
I didn't understand, the PR seems to work no?

[2021-05-12 09:10] s3rj1k commented on #875
@dtantsur yea, need to add some alias to .bashrc for this :)))

[2021-05-12 09:13] s3rj1k commented on #875
@kashifest it works, yes, but you introduce new unneeded dependency in public API, the whole point of go.mod in public API was to allow external users to import package with minimal deps.

Also you would have to track `two` controller-tools and insure that both of them are of the same version, this is also seems suboptimal

[2021-05-12 09:19] kashifest commented on #875
Well I agree. Its adding two new dependencies which are not needed by api itself but the generate process. But comparing the complicacy of not using a go.mod in apis and syncing with CAPI/CAPM3 , it is still less. If you have other solutions, its welcome. But before reverting #857 we need to ensure that the new solution keeps CAPM3 imports intact also.

[2021-05-12 09:28] s3rj1k commented on #875
@kashifest instead of using `go run sigs.k8s.io/controller-tools/cmd/controller-gen` lets just use binary directly, problem solved

[2021-05-12 09:30] s3rj1k commented on #875
https://github.com/metal3-io/baremetal-operator/commit/b3e23f2b487a02f770b886c548f469818d613aab

[2021-05-12 09:31] kashifest commented on #875
+1

[2021-05-12 09:35] s3rj1k commented on #875
cc: @asalkeld

[2021-05-12 13:25] bfournie commented on #818
The ironic-python-agent rpm at current-tripleo should now have this fix - https://trunk.rdoproject.org/centos8-master/component/baremetal/current-tripleo/. It has hash 4ac3d79 which is the latest fix from May 4, see https://github.com/openstack/ironic-python-agent/commits/master.

[2021-05-12 18:28] ardaguclu commented on #875
What we gain from go.mod separation in https://github.com/metal3-io/baremetal-operator/pull/857;
- CAPM3 version support as clearly stated in PR by @kashifest .
It is a very clear need and I don't anything to say about it. Because you know better than me why we are not synchronizing versions one to an another and why adding go.mod into `apis/` to solve this problem.
- Smaller size of api package
I

[2021-05-12 18:53] zaneb commented on #875
The main reason for the separate go.mod files AIUI is that when you import a package from a module, every dependency in that module's go.mod participates in the dependency solving - even ones that aren't imported by the packages you're actually using. The larger this set is, the more likely it is to result in an unresolvable dependency (due to mismatched version requirements) for somebody somewher

[2021-05-13 13:40] andfasano commented on #875
After some thoughts I'd agree with @dhellmann for the separate API github repo approach (ie `baremetal-api`)

Even thought #857 appeared as an interesting approach, the management of a multi-module project in a single repo still looks like difficult, especially for those part that could have a different lifecycle in future.
Keeping the two projects separated instead could have some valuable benefi

[2021-05-13 22:48] asalkeld commented on #875
Why not just add a tools.go to the apis directory?

[2021-05-14 05:38] maelk commented on #875
@ardaguclu I don't think we can move the GVK registration outside of the API module, this is needed for CAPM3 and other consumers to properly register the GVK when interacting with the BMH object, so this solution would not work. I would really support going with webhooks validation and bringing all validation there if possible, that's the path taken in CAPI / CAPM3 etc.

[2021-05-14 07:48] zhouhao3 opened #879 "baremetal IPI power_interface for irmc miss IPMI credentials"
When we deployed bare metal using IPI, we encountered the following errors:
[code]
Check that there is no ipmi related information in driver_info
[code]
But in our previous use, there will be ipmi information in driver_info.

I think it may be related to this PR. https://github.com/metal3-io/baremetal-operator/pull/848

[2021-05-14 09:30] zhouhao3 commented on #879
The reason for this error should be as @dtantsur  [commented](https://github.com/metal3-io/baremetal-operator/pull/848#discussion_r607720722). I modified the `power_interface` directly through baremetal, so I did not know bug. Sorry for this problem.

[2021-05-14 12:55] hardys commented on #879
@zhouhao3 can you confirm if the error is when deploying the master/controlplane nodes, or the worker hosts?

The discussion in #848 seems to indicate the ipmi credentials are provided via the ironic driver ref https://opendev.org/openstack/ironic/src/branch/master/ironic/drivers/modules/irmc/common.py#L160-L174

[2021-05-14 14:21] zaneb commented on #875
So the idea is that we would put it into a subpackage, like `github.com/metal3-io/apis/metal3.io/v1alpha1/register` and then wherever you need to vendor it you do:

[code]

Obviously the downside of this is that you have to explicitly put that second import wherever you are vendoring the module. But if we're going to change the location anyway you can do both at the same time.

That would free us

[2021-05-14 14:44] dhellmann commented on #875
Can someone remind me which dependency caused the problem in the first place? Is that dependency conflict still an issue, or could we go back to 1 module while we explore other options?

[2021-05-14 15:38] zaneb commented on #875
It's controller-runtime (see #857).

[2021-05-14 16:03] s3rj1k commented on #875
@zaneb

This is actually a good alternative, one could replace that webhook with custom version when some specific validation is required and it is not possible to contribute that validation code to upstream.

[2021-05-14 16:24] ardaguclu commented on #875
But currently controller-runtime versions are same `v0.7.0`. Maybe some other dependency...

[2021-05-14 16:59] andfasano commented on #875
IINW this one https://github.com/metal3-io/cluster-api-provider-metal3/blob/b516aeab24e3b1c7b56934fb38ded5e9234002f1/go.mod#L53 ?

[2021-05-15 04:38] hs0210 commented on #879
[#4908](https://github.com/openshift/installer/pull/4908) seems to be the cause of the error, as the error occurred just after it was merged.

[2021-05-17 02:26] zhouhao3 commented on #879
@hardys It can be confirmed that this error occurred when the master was deployed. As there is no ipmi-related information in the driver_info, an error occurred.  When I created this PR, I used baremetal's command to directly modify the value of power_interface, so there was no error at that time. I am solving the problem, and currently think that some processing should be added to ironic so that

[2021-05-17 03:57] zhouhao3 commented on #879
We sent a PR https://github.com/metal3-io/baremetal-operator/pull/880 to fix this problem.

[2021-05-17 19:25] s3rj1k commented on #874
/cc @dhellmann @dtantsur @zaneb

[2021-05-17 19:43] zaneb opened #883 "Change of power state in Ready host causes manual cleaning"
In 4f7ac53001bbe1b08af3d77cf4a3b22e597bce84 we assume that if `actionManageReady()` returns `actionUpdate` then the hardware config has changed and we need to return to the Preparing state and re-run manual cleaning. However, `actionManageReady()` also calls `manageHostPower()`, which also returns `actionUpdate` whenever the current power status changes.

Thus, whenever the power status changes in

[2021-05-18 15:54] zaneb commented on #798
After a lot of back-and-forth on metal3-io/metal3-docs#171 we have concluded that a retry can be triggered at any time by making any change to the BMH resource (e.g. add an annotation of your choice, not one recognised by the bmo), and we have no information to suggest that this mechanism would not work as intended when the underlying problem is fixed. Please open another bug if information comes

[2021-05-18 15:54] #798 closed

[2021-05-19 11:02] #879 closed

[2021-05-19 13:14] namnx228 commented on #872
/kind feature

[2021-05-19 13:16] namnx228 commented on #874
/kind feature

[2021-05-19 13:18] namnx228 commented on #875
/kind bug

[2021-05-19 13:18] namnx228 commented on #883
/kind bug

[2021-05-19 14:03] zaneb commented on #874
There's no great mystery: you create a new API version, and you write a conversion webhook to convert between the different versions. The documentation is here: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/

The question is whether you would bother to do this in order to remove a single redundant boolean from the hardware details.

We do

[2021-05-19 14:03] #874 closed

[2021-05-19 14:27] dhellmann commented on #874
@zaneb The technical details of the process are clear, but I don't think we've documented our deprecation and support policy for older API versions anywhere. Maybe I just couldn't find that doc?

[2021-05-20 13:31] zaneb commented on #874
Yeah, I'm not aware that that doc exists, although CAPM3 has gone through several API revisions so it's possible - I haven't looked.

For BMO specifically, we don't have any older API versions so it'd be pretty academic.

[2021-05-24 10:58] sumitjadhav1 commented on #818
Able to observe RAM parameter back, please refer the attached logs for reference.

[Verification-RAM-Parameter.txt](https://github.com/metal3-io/baremetal-operator/files/6531831/Verification-RAM-Parameter.txt)

Thanks

[2021-05-24 18:35] #875 closed

[2021-05-26 16:41] dtantsur opened #893 "Error in the node update code can make a BMH get stuck in "ready" state"
It's a bit of an edge case since it should not happen in a normal deployment, but let's consider fixing this:

When testing https://github.com/metal3-io/baremetal-operator/pull/884 I didn't have the `custom-deploy` deploy interface enabled in Ironic, which lead to this failure in the BMO logs:

[code]

The problem is, the host looks absolutely normal:
[code]
and has no errors:
[code]

I think we s

[2021-05-26 16:47] dtantsur commented on #893
/kind bug

[2021-05-26 17:08] andfasano commented on #893
Looks like [this](https://github.com/metal3-io/baremetal-operator/blob/0a9c3ab3e14ea64f55d359b79c8860cff12ac504/pkg/provisioner/ironic/ironic.go#L619) node update failed (reason was `"Could not find the following interface in the 'ironic.hardware.interfaces.deploy' entrypoint: custom-deploy. Valid interfaces are ['direct', 'fake', 'ramdisk']`) during the `ValidateManagementAccess`, which at the en

[2021-05-26 17:50] zaneb commented on #893
I think the issue is that we are not distinguishing between different types of errors returned from the Ironic API, with the exception of 409 (Conflict) errors. Everything else is treated as a transientError. 400 errors are unlikely to be transient, and we should probably respond with operationFailed instead.

[2021-05-27 10:49] MahnoorAsghar commented on #765
Shall we close this issue?

[2021-05-27 11:08] dtantsur commented on #893
I agree, only 409 and 503 have a chance of going away.

[2021-05-28 11:49] MahnoorAsghar opened #895 "Airship RAID requirements"
## Introduction

As per @furkatgofurov7's suggestion in the community meeting, this issue is created to track the Airship requirements for performing RAID configuration via Metal3 (and Ironic). The user can specify the RAID controller names and their associated disks, along with the required RAID level, the desired number of disks and the amount of storage required. A related demo was presented la

[2021-05-28 14:21] egarzuel opened #896 "Redfish-virtualmedia configuration"
Hello,

One question related to redfish and redfish-virtualmedia, not sure if it’s a bug or an issue with my config file.
Currently I tried to perform hardware inspection by metal3, which is ok (node is in ready state) if under BMC section I’m using this address :
   _address: redfish://10.10.3.10/redfish/v1/Systems/1_

But, If I’m using address with redfish-virtualmedia, ironic is not able to get

[2021-05-29 17:53] dtantsur commented on #896
This is not correct. Where did you get this information? You should use systems in both cases.

[2021-05-30 12:51] #724 closed

[2021-05-31 06:47] egarzuel commented on #896
Hi,
Thanks for your reply. We also use Systems with redfish-virtual media, unfortunately it doesn't work. I will logs to post here.

Regards.

[2021-05-31 14:03] egarzuel commented on #896
For information, I'm working on SuperMicro server, and redfish implementation seems not correct :
https://storyboard.openstack.org/#!/story/2008370

I will check under this way.

Regards.

[2021-05-31 15:35] #896 closed

[2021-05-31 15:36] egarzuel commented on #896
Redfish release not correct on SuperMicro (even if latest firmware are installed) . I'm checking to see if we can upgrade.

[2021-05-31 17:42] andfasano opened #904 "High memory usage when watching all namespaces"
During the testing of a scenario with 1k BMH (SNO) an unexpected memory usage by BMO has been detected (~1.2Gb reported by `kubectl top`). Futher inspection revealed that the main problem was due the fact that BMO has been configured to watch all the namespaces (by setting `WATCH_NAMESPACE` to empty), and the 1k BMH have been deployed in 1k different namespaces, each one having ~22 secrets, for a

[2021-06-01 07:15] andfasano commented on #904
/kind bug

[2021-06-01 15:43] zaneb opened #905 "Optimise concurrency for scale"
Currently the default value for the `$BMO_CONCURRENCY` variable is 3. We chose this value because (a) it wasn't 1 (so in testing we would not end up relying on only 1 BMH being reconciled at a time), and (b) it seemed like as good a number as any. With the benefit of more data, we can say a bit more about the optimal value.

We currently limit the number of nodes that can be provisioned at one tim

[2021-06-02 13:28] furkatgofurov7 commented on #895
/kind feature

[2021-06-02 13:34] furkatgofurov7 commented on #905
/kind feature

[2021-06-08 10:06] #905 closed

[2021-06-15 18:03] zaneb opened #915 "Adoption errors cause deprovisioning"
If a Host is in the `provisioned` state and an error occurs during Adopt() (i.e. a `provisioned registration error`), the Host will be deprovisioned. This is bad.

The same does _not_ apply to ordinary `registration error` errors, because registration is handled separately.

It _would_ apply to `power management error`, but we have never reported a power management error (c.f. #828), and won't unt

[2021-06-15 20:33] #915 closed

[2021-06-17 12:00] jan-est opened #919 "BMO changes for CAPM3 v1alpha5"
@andfasano @dhellmann Cluster API will be releasing v1alpha4 api soon and CAPM3 will follow those changes by releasing new v1alpha5 api. We need some of [these changes](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md) in BMO to be able to deploy it as part of the CAPM3.

At least we need to follow:
- Align manager flag names with

[2021-06-17 12:08] kashifest commented on #919
@jan-est can you elaborate the changes in bit more detail probably copy paste those parts from CAPI change doc so that the required changes in BMO is visible.

[2021-06-18 05:39] jan-est commented on #919
@kashifest @dhellmann @andfasano
We would like to to have this implemented [Align manager flag names with upstream Kubernetes components](https://github.com/kubernetes-sigs/cluster-api/blob/master/docs/book/src/developer/providers/v1alpha3-to-v1alpha4.md#align-manager-flag-names-with-upstream-kubernetes-components)

We may need some, not all changes from [Required kustomize changes to have a singl

[2021-06-18 05:50] jan-est commented on #919
Have we ever consider to have releases and versioning in BMO? In the long run changes like above would make more sense to make within new API and release. Or what do you think?

[2021-06-21 13:33] dhellmann commented on #919
That seems reasonable. It would be nice to keep the old names for backwards compatibility.

Perhaps we should start thinking about creating an operator to manage our deployment(s). Is that what they mean by "a single deployment manager"?

[2021-06-21 13:34] dhellmann commented on #919
We have discussed it, and there was no opposition, but I don't think we've encountered anything yet that forced us to do it so no one has taken the time.

[2021-06-24 14:51] #792 closed

[2021-06-26 10:51] #765 closed

[2021-06-27 16:51] #225 closed

[2021-06-28 08:18] nkwangleiGIT commented on #832
I think it's renamed to namespace "capm3-system" now?
I can update the code or document to create this namespace if the name is correct.

[2021-06-28 14:47] andfasano commented on #919
@jan-est There's the @ardaguclu PR #865 that is in a pretty final stage

[2021-06-29 02:48] nkwangleiGIT opened #925 "Do we need to add persistence volume to the ironic images server"
As I can see, there is no persistence volume configured for ironic images service, and ironic-ipa-downloader will down the images every time when start capm3-ironic pod.
I think it's better to add a PV for the downloaded files, so it can skip the download step when start capm3-ironic pod.
I'm new to this project and not sure if it's the right thing to do, and would like to add this feature if need

[2021-06-30 19:25] zaneb commented on #828
/remove-lifecycle stale

[2021-07-01 09:53] maelk opened #930 "registration failing with host busy"
In some rare cases, the registration of provisioned BMHs on Ironic fails with the following error message :

[code]

The problem is difficult to recreate but we have hit it multiple times already, after ironic comes up while BMHs are already provisioned (like during a pivoting operation). When the issue happens, it happens for a lot of BMHs, but not all (38 out of 49 on the last time we hit the is

[2021-07-01 09:53] maelk commented on #930
Restarting Ironic with a DB wipe is enough to solve the issue.

[2021-07-01 10:16] maelk commented on #930
On the ironic logs, we can see the following:

[code]

[2021-07-01 12:01] maelk commented on #930
After a BMO restart, we can see one additional line int he BMO logs :

[code]
so it looks like it is trying to update the instance_uuid and this is not allowed

[2021-07-02 08:09] maelk commented on #930
This seems to be an error coming from the pivoting flow. Closing this issue for now. I might open another one regarding the instance_uuid handling in case of mismatch
/close

[2021-07-02 08:09] #930 closed

[2021-07-05 09:53] nkwangleiGIT opened #931 "What's the difference of ironic-log-watch and ironic-inspector-log-watch container in the ironic pod?"
A I can see, we have two containers in the ironic pod named ironic-log-watch and ironic-inspector-log-watch. They have the same entrypoint command, so I think they're duplicated containers to check the log in the /shared directory.
Do we need to remove the ironic-inspector-log-watch container in the deployment file?

[code]

[2021-07-08 14:03] #904 closed

[2021-07-12 12:51] #828 closed

[2021-07-14 08:24] ardaguclu commented on #872
Closing this issue. Because currently golint also covers apis.

[2021-07-14 08:24] #872 closed

[2021-07-16 12:27] nmathew commented on #485
@sb1975 Will this enable /sys/class/net/${PF_NAME}/device/sriov_numvfs. Do you have a sample config.

[2021-07-22 02:44] zhouhao3 opened #940 "The default listening port(9440) of BMO is occupied during IPI deployment"
When I used the latest version of OCP4.9 4.9.0-0.nightly-2021-07-21-021707 for testing, I encountered an error that BMO could not run. The specific error message is as follows:

[code]

The reason for this error is that the port used by BMO and another service conflicts:
[code]
I compared the situation where there was no error before, and I found that the two services were also listening on the sa

[2021-07-27 11:32] shon-phand opened #943 "Issue in upgrading minor version v0.4.0 to v0.4.1/v0.4.2"
I am able to upgrade capm3-v0.3.2 to capm3-v0.4.0 without any issue.

While upgrading capm3-v0.4.0 to capm3-v0.4.1/capm3-v0.4.2 it went into CrashLoopBackOff error in  baremetal-operator container deployment.

When I checked the size of images in repository for major capm3-v0.3.0(625.7 MB) and minor capm3-v0.3.2(626.1 MB) they are almost same.
Comparing major version capm3-v0.4.0(626.1 MB) to mino

[2021-07-28 06:54] yeahdongcn commented on #832
With PR https://github.com/metal3-io/baremetal-operator/pull/944, this should be resovled.

[2021-07-30 13:19] MaxRink opened #947 "Status of BMH objects where the initial clean fails is wrong"
When i add BMHs and the initial clean fails BMH still reports the BMHs as ready, instead of throwing an error.
[code]
and
[code]
[code]

[2021-08-04 10:58] #943 closed

[2021-08-13 10:48] fmuyassarov opened #952 "Status subresource is getting big to fit in the annotation with many multipath disks"
As part of pivoting operation, we are storing bareMetalHost status subresource data in the `baremetalhost.metal3.io/status` annotation so that BMO in the target cluster can continue reconciliation from point it was before pivoting. In some cases, where there are quite many multipath disks attached to a BMH, e.g, 800 then the BMH `metadata.annotations` field becomes too big, because it stores stora

[2021-08-13 10:49] fmuyassarov commented on #952
/cc @kashifest @maelk @zaneb @andfasano @hardys

[2021-08-13 11:01] fmuyassarov commented on #952
Apparently it's not possible because it is a global limit

[2021-08-13 11:40] fmuyassarov commented on #952
I will close it here because it is more related to CAPM3 rather than BMO.

Please see the discussion in https://github.com/metal3-io/cluster-api-provider-metal3/issues/266

/close

[2021-08-13 11:40] #952 closed

[2021-08-18 13:01] chatla-telekom opened #956 "Support Ironic hardware driver properties to be configurable"
Currently,  users do not have the possibility to configure the properties of BMC Drivers' Interfaces like boot inferface, management interface, etc. as they are hard coded in BMO. By allowing these properties to be configurable via a config file or environment variables, it would allow users to adapt BMO for custom use cases.

[2021-08-18 15:56] zaneb commented on #956
A design goal of metal³ is not to expose the implementation details of ironic in the BaremetalHost API.
Note that it is possible to register your own BMC drivers in go code, or to propose additional drivers upstream.

[2021-08-18 19:30] zaneb commented on #952
As discussed in the meeting today, I think in the long term the answer is to move this data to a separate CRD so that we don't have to include it in the status annotation.

In the meantime, collapsing the multipath disks (whatever those are) seems like a reasonable approach. You could make an argument that that should be done in ironic-python-agent even /cc @dtantsur.

[2021-08-18 20:08] fmuyassarov commented on #952
@zaneb thanks. I've copy pasted your comment on the active discussion in CAPM3 repo. Please see https://github.com/metal3-io/cluster-api-provider-metal3/issues/266

[2021-08-18 21:33] chatla-telekom commented on #956
But what if we would want to use a different configuration for an existing driver itself? For example, the ilo5 driver in the code is configured to use "ilo-ipxe" boot interface

`func (a *iLO5AccessDetails) BootInterface() string {
	return "ilo-ipxe"
}`

but this negates the possbility of having another boot interface for the same driver like "ilo-uefi-https".

[2021-08-19 12:22] dtantsur commented on #956
I think this particular case may justify a new driver.

[2021-08-19 12:23] dtantsur commented on #952
It may make sense indeed.

[2021-08-24 12:33] furkatgofurov7 commented on #931
@nkwangleiGIT hi! Thanks for the issue, and it is true that we have duplicate container inside the ironic pod. Also, there is already PR to drop a duplicate container, please see: #945
/cc @dtantsur if you could link your PR to this issue with `Fixes` would be great, thanks!

[2021-08-30 09:53] hs0210 opened #959 "Track works left in #929"
This issue is mainly used to track the works left in #929:
1. fix a [bug](https://github.com/metal3-io/baremetal-operator/pull/929#issuecomment-905393078) that may be on the ironic side
2. revert PR929 to continue #882 with #958

[2021-08-31 01:26] hs0210 commented on #959
@dtantsur @zaneb We can continue the discussion here.

[2021-08-31 01:53] hs0210 commented on #959
A bug likely in ironic occurred when solving [clean failed problem in prepare state](https://github.com/metal3-io/baremetal-operator/pull/929#issue-681489120) using target state to distinguish manual and auto clean failure.
The following is the bug and this is the complete log [ironic-conductor.log](https://github.com/metal3-io/baremetal-operator/files/7080512/ironic-conductor.log)

The following

[2021-08-31 17:00] zaneb opened #960 "Add prometheus metric for provisioner not ready"
Ironic not being ready is an obvious thing that folks might want to alert on, so add a Prometheus metric for when `prov.IsReady()` return false.

[2021-08-31 17:12] kplimack opened #961 "BMO controller manager fails to start due to missing certificate"
I'm trying to deploy `capm3-v0.4.3` and the bmo controller manager is crashlooping on this error.  Any advice on further debugging would be much appreciated.

I deployed via
[code]

[code]

[2021-08-31 19:54] kplimack commented on #961
latest image that it sourced didnt work, built it myself and that err went away.  but the webhooks dont seem to be working correctly

[code]

[2021-09-01 12:10] chatla-telekom commented on #956
The idea is not to expose the Ironic Hardware details in the BareMetalHost API but configure it in a config file like ironic.env or define a new config file for example, driver.env to specify the custom properties of the driver interfaces:

[code]
and in the go code we could have a condition to check if a custom configuration is defined, if not we can use the default properties of the driver inter

[2021-09-01 13:46] zaneb commented on #956
We discussed this a bit in the community meeting, so capturing some notes here.

None of these fields are currently relying on programming logic, so it would make sense to be able to load the config for each driver from a file. For example, the ilo5 driver could read its config from `/opt/metal3/bmc-config/ilo5.yaml` or something, and fall back to the defaults in code for options that are not spec

[2021-09-02 10:00] thevibhu commented on #960
I am interested in this, can I take up this issue?

[2021-09-02 10:28] dtantsur commented on #959
Jacob and I are looking into the ironic cleaning code to understand what goes wrong. Meanwhile, there seems to be an issue with your patch:

Did you mean

? If the target state is set, you cannot execute new actions.

[2021-09-02 13:35] zaneb commented on #959
It was your idea: https://github.com/metal3-io/baremetal-operator/pull/929#issuecomment-903921236

[2021-09-02 13:38] dtantsur commented on #959
Ah, wait, we're in the `clean failed` path. Yes, this is correct, I forgot about it. Sorry.

https://review.opendev.org/c/openstack/ironic/+/807105 will make sure we have a proper traceback in this case. For now I'm trying to guess what happened.

[2021-09-02 14:41] thevibhu commented on #960
@zaneb Could you please explain the issue a little bit more and let me know how can I run/test my code?

[2021-09-03 08:10] dtantsur commented on #959
I've taken a closer look at the iRMC RAID implementation and the conductor logs, and I think I've spotted two problems: 1) the RAID interface does not reboot the node after RAID is built, 2) cleaning is over before the job is actually finished.

1) Metal3 operates in the so called "fast track" mode, which means that the IPA ramdisk stays on unless explicitly stopped.  After iRMC RAID is done, the

[2021-09-03 08:14] dtantsur commented on #959
From the Redfish implementation. This is how you tell Ironic that you're polling for completion: https://opendev.org/openstack/ironic/src/branch/master/ironic/drivers/modules/redfish/raid.py#L849-L853. Without this Ironic will check IPA for any running steps, and if there are none, it will proceed to the next step.

And this is how you request a reboot after RAID is built: https://opendev.org/open

[2021-09-03 14:37] dtantsur commented on #959
I've written https://review.opendev.org/c/openstack/ironic/+/807295 to make writing such tasks simpler.

[2021-09-06 07:45] hs0210 commented on #959
@dtantsur Thanks for your thorough investigation.

This is indeed a bug that needs to be fixed, we will fix it.

One thing is very strange. I could not find this info in the log when the auto clean was successfully executed such as this [ironic-conductor.log](https://github.com/metal3-io/baremetal-operator/files/7114141/ironic-conductor.log)

[2021-09-06 15:43] sshukun commented on #959
@dtantsur thank you for the explanation.

After investigation, I think the job is actually finished normally before cleaning is over.
This `NoneType` error and the log you see is because iRMC RAID implementation filters the nodes by the wrong field.

To check the progress of running RAID config, iRMC filters the nodes by `raid_config` which will not be cleared after RAID configuration complete. Th

[2021-09-07 08:48] dtantsur commented on #959
Yes, this is possible as well.

[2021-09-07 15:06] hardys commented on #855
We had some discussion on this - it *is* valid to change this in some cases, for example if you deploy via virtualmedia it can potentially work with any MAC on the system, but if you later want to deploy via PXE (or as we're doing downstream, derive the provisioning-network NIC from this MAC) then it must be the correct nic.

There are reported cases e.g https://bugzilla.redhat.com/show_bug.cgi?id

[2021-09-07 15:52] zaneb commented on #855
Changing from virtualmedia->PXE means changing the driver, so it also means a new BMC address (which is never safe).

Validating against the HardwareDetails is not a bad idea, but as it stands that would mean the user is effectively free to change it, since if they can change the boot MAC they can also change the HardwareDetails.

[2021-09-08 09:44] jan-est commented on #919
We didn't need to do any changes in BMO, since we took BMO deployment out from CAPM3 in [242](https://github.com/metal3-io/cluster-api-provider-metal3/pull/242)

[2021-09-08 09:44] #919 closed

[2021-09-09 11:05] hardys commented on #855
Ok, but what if a non-integrated NIC gets replaced - should we force a user to redeploy, or to defer updating the BMH until some later date when redeploy is needed (and probably the NIC replacement is forgotten...)?  IMO it's more logical to relax this validation and allow them to patch the bootMACAddress, but with some validation to prevent completely-wrong values?

They could only change it with

[2021-09-09 19:45] zaneb commented on #855
Forgot the HardwareDetails is in the Status, not the Spec. That's probably a reasonable trade-off then, although I'm not sure how it helps if the NIC is replaced.

The main thing we want to prevent is switching the MAC to point to some other host so that things get messed up in the ironic DB.

[2021-09-10 09:02] hardys commented on #855
Hmm, yeah that's true, they'd have to patch the status (either the hacky way, or via the inspect annotation)

That would be enough to help with the downstream case mentioned, although clearly that's not directly relevant to BMO, and may have be rethought if we're not comfortable with the pattern of consuming bootMACAddress to identify the provisioning NIC.

[2021-09-15 13:26] fmuyassarov opened #977 "Migrate to kubebuilder v3"
We need to migrate to kubebuilder v3 in order to get api version of `v1` of CRDs generated. It is only kubebuilder v3 which by default generates `v1` based CRDs, and for v2 kubebuilder we get normally get `v1beta1` (which is already removed in 1.22 k8s).

[2021-09-15 13:26] fmuyassarov commented on #977
/assign @kashifest

[2021-09-15 14:35] zaneb opened #979 "Some drivers return false from `NeedsMAC()` though they need a MAC to Adopt"
Some bmc drivers require a `BootMACAddress` to be set in order to identify the host. (For example, the IPMI driver when used with libvirt requires this.) These drivers return `true` from the method `NeedsMAC()`.

Other drivers can successfully inspect and provision without a `BootMACAddress` (For example, the IPMI driver when used with physical hardware.) These drivers return `false` from the meth

[2021-09-15 14:37] zaneb commented on #979
/cc @hardys @derekhiggins

[2021-09-15 16:49] zaneb opened #980 "BMC passwords can sometimes be logged"
Since b8dba2c016befacf2ff65004a2ff73008d5ab63a we use the nodeUpdater with its built-in logging to update the ironic node when the credentials change. This inadvertantly meant the BMC credentials will be logged in this case.

This should be very rare in practice; BMC credentials don't often change. However, it should be fixed.

[2021-09-17 03:52] zaneb commented on #960
Metrics are defined here: https://github.com/metal3-io/baremetal-operator/blob/master/controllers/metal3.io/metrics.go
`IsReady()` is called here: https://github.com/metal3-io/baremetal-operator/blob/master/controllers/metal3.io/baremetalhost_controller.go#L226
The metrics URL for Prometheus is printed to the console at startup.

[2021-09-19 18:42] #731 closed

[2021-09-19 18:42] #810 closed

[2021-09-19 20:01] s3rj1k commented on #746
/remove-lifecycle stale

[2021-09-20 09:33] dtantsur commented on #979
Have you tested it recently? The adoption validation has changed.

[2021-09-20 20:00] zaneb opened #984 "Power off fails for drivers that don't support Soft power off"
When an ironic driver doesn't support soft power off, we are supposed to fall back to doing a hard power off. This was inadvertently broken by #841. Now when the driver doesn't support soft power off we end up returning a 'transient' error and retrying in an infinite loop.

[2021-09-22 10:39] #980 closed

[2021-09-23 11:19] hardys commented on #979
I'm not aware of recent testing - can you confirm exactly when/which release the adoption validation changed?

This stems from previous problems discussed via https://github.com/metal3-io/baremetal-operator/issues/580 and in particular https://bugzilla.redhat.com/show_bug.cgi?id=1854142 where we found that after a controlplane outage, every worker failed to adopt due to a missing `bootMACAddress`.

[2021-09-24 07:34] dtantsur commented on #979
Okay, I've checked: we do require MAC address for adoption. That being said, I don't think it's valid to change `NeedsMac` because it will make MAC address required also on normal enrollment (where it can be filled in by inspection). I think we just say that MAC address is always needed on adoption, wdyt?

[2021-09-27 16:12] zaneb commented on #979
Adoption needs to always work transparently otherwise the ironic DB is not really ephemeral.

We could use a MAC address found from HardwareDetails for inspection when one is not provided in the BMH (we don't currently). I agree that if _every_ driver needs a MAC to adopt then it doesn't make sense to change all of the `NeedsMAC()` methods to return true.

If inspection is skipped and the Hardware

[2021-09-28 11:17] #984 closed

[2021-09-28 15:41] hardys commented on #979
This sounds like a reasonable compromise to me - no impact to the existing API (`bootMACAddress` remains optional on drivers which don't require it for deployment) but if we fall back to using `status.hardware` to avoid the adopt failure, that seems likely to solve the majority of deployed-then-adopt-failed cases

[2021-10-08 18:55] jplimack opened #992 "bootloader"
Having some issues provisioning OS onto nodes.  I'm using `image-builder` to construct the qcow2 image, but its failing to find EFI data.  I attempted to rebuild the image with a boot/ept partition, but to no avail.  Any advice on debugging would be greatly appreciated

[code]

[2021-10-14 03:35] hs0210 opened #996 "Fail to import package: github.com/metal3-io/baremetal-operator/ironic"
I failed to import package `github.com/metal3-io/baremetal-operator/ironic` in terraform-provider-ironic.
import:
[code]
error:
[code]

Then I tried use replace, but failed too.
import:
[code]
error:
[code]

[2021-10-14 03:45] hs0210 commented on #996
@ardaguclu Hi, I couldn't import ironic package, could you help take a look?

[2021-10-14 06:56] ardaguclu commented on #996
It is an interesting case, because new ironic module has not been populated yet in here https://pkg.go.dev/github.com/metal3-io/baremetal-operator/ironic.

I'm checking.

[2021-10-14 11:20] s3rj1k commented on #996
@ardaguclu issue is here https://github.com/metal3-io/baremetal-operator/blob/master/pkg/ironic/go.mod#L1
module name does not match URL path, I assume

[2021-10-14 22:01] valumar opened #999 "ironic.common.exception.InvalidMAC: Expected a MAC address but received (WWN)"
I'm using Openshift 4.8.12 with baremetal-operator installed. After creating new kind: BareMetalHost to provision new node on  Lenovo ThinkSystem SR630 with  QLogic PCI adapter (`16Gb FC Dual-port HBA`) installed  I observe few errors in `metal3-ironic-conductor` container:

[code]
As you can see after this error the state of provisioning changes to failed state. Since QLogic is the FC adapter it

[2021-10-18 23:46] kunyi731 opened #1001 "Support for firmware update"
Hello,

I wonder whether there is currently a plan to support firmware update/upgrade actions in Metal3 baremetal operator? I saw there are firmware field with several configurations that seem like very particular BIOS settings, but didn't see anything mentioned about firmware updates.

Looks like Ironic Redfish driver supports firmware update as [a custom cleaning step](https://docs.openstack.org

[2021-10-19 07:16] #996 closed

[2021-10-19 18:54] #634 closed

[2021-10-19 18:54] #654 closed

[2021-10-19 20:40] s3rj1k opened #1005 "Clean-up none-essential .gitignore entries"
In community channel we decided that it would be best to remove none-essential .gitignore entries.
So plan is to keep bare-minimum that is required to build and test using CI, all other things should be per-user configurable via
`~/.config/git/ignore` as @zaneb suggested.

[2021-10-19 20:41] s3rj1k commented on #1005
https://github.com/metal3-io/baremetal-operator/pull/1004

[2021-10-21 09:26] #1005 closed, assigned to nobody

[2021-10-27 10:27] fmuyassarov opened #1009 "Add PreprovisioningImage documentation"
Recently PreprovisioningImage API https://github.com/metal3-io/baremetal-operator/pull/936 landed and
we need to add some documentation to explain how
to use it, turn on/off controller and etc. Adding this
task here so that we don't forget to add documentation.

/kind documentation
/priority important-soon

[2021-11-03 07:37] kashifest opened #1013 "Change default branch to "main""
Addresses [this](https://github.com/metal3-io/metal3-docs/issues/117).

This has already been done in CAPM3 and IPAM. Check these repo's for reference.

[2021-11-03 07:38] kashifest commented on #1013
## Prerequisites

- [x] Create an issue in your repo to track the branch rename.
You can paste this checklist in the issue body.

- [x] If you are not a root approver for the repo, assign a root
approver for approval.

- [x] Once the issue has been approved, send a notice to your SIG's
mailing list about the potential branch rename.

## Changes pre-rename

Make the following changes _before_ renam

[2021-11-08 03:31] maheshd2 opened #1016 "Unable to introspect node and modify BIOS parameterts via baremetal operator"
We are trying to configure baremetal operator on the OCP cluster 4.8 and verify

    Adding baremetal host
    Configuring the BIOS settings
    Introspecting the baremetal host
    Booting the OS

And we followed the doc (https://github.com/metal3-io/baremetal-operator), it explains setting up baremetal operator with minikube/virtual bmc environment. We need the instructions for setting up bareme

[2021-11-08 03:32] maheshd2 commented on #1016
We opened a redhat support ticket and received following response.
[code]

[2021-11-08 09:34] dtantsur commented on #1016
Hi! Please report OpenShift issues to the Red Hat bugzilla. In you case, BIOS settings were not supported in 4.8 (nor in 4.9, if I recall correctly, cc @bfournie)

/close

[2021-11-08 09:34] #1016 closed

[2021-11-16 19:27] dramasamy opened #1024 "Need installation steps for BOM on an existing management cluster"
The document doesn't have any steps to install BOM on existing clusters, Can we add that? Please let me know where I can find that info.

I hope 'https://github.com/metal3-io/metal3-helm-chart' is the helm repo.

[2021-11-16 19:31] dramasamy commented on #1024
`dramasamy@dev01:~/metal3-helm-chart/charts/baremetal-operator$ helm install -n bom bom .
W1116 13:30:49.342176  416636 warnings.go:70] apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+; use apiextensions.k8s.io/v1 CustomResourceDefinition
Error: INSTALLATION FAILED: create: failed to create: namespaces "bom" not found`

[2021-11-16 19:41] dramasamy commented on #1024
`
dramasamy@dev01:~/metal3-helm-chart$ pwd
/home/dramasamy/metal3-helm-chart

helm install -n metal3 metal3 .
NAME: metal3
LAST DEPLOYED: Tue Nov 16 13:37:13 2021
NAMESPACE: metal3
STATUS: deployed
REVISION: 1
TEST SUITE: None

`

`
NAMESPACE                 NAME                                                          READY   STATUS             RESTARTS   AGE     IP           NODE

[2021-11-17 09:33] #977 closed

[2021-11-18 13:14] kashifest commented on #1013
https://github.com/metal3-io/project-infra/pull/280

[2021-11-19 03:41] #940 closed

[2021-11-23 08:41] #925 closed

[2021-11-25 22:00] FruityWelsh opened #1043 "pod/capm3-ironic-* ironic-api failing waiting for eth2 int"
Deployed running
[code]

This falls in to a loopbackoff with the logs of the ironic-api container in the pod giving the error:
[code]

Host machine info:
[code]
Network devices:
[code]
All of which are teamed into a singular connection using networkmanager.

[2021-12-05 09:24] ileixe opened #1045 "Question: is it possible to use common secret all over the bmh(s)?"
Now, secret for BMC address/password could not be shared to multiple bmhs emitting ownership error below

[code]

I like the general idea to separately keep credential per bmc for the security perspective, but it might be better to choose the decision via option. Is there any hard requirement not to support the option which is to allow users to have one secret for several bmhs?

Thanks

[2021-12-07 08:17] zhouhao3 commented on #1024
You can find related content `5. Install operator in the cluster` in this [document](https://github.com/metal3-io/baremetal-operator/blob/master/docs/dev-setup.md).

[2021-12-07 08:30] zhouhao3 commented on #1043
It seems that you need to set environment variables according to your actual network environment.

[2021-12-08 09:17] hs0210 commented on #959
/remove-lifecycle stale

[2021-12-14 11:46] andfasano opened #1053 "Host secret is not removed during host delete"
**Description**
When deleting an host, sometimes the host secret is not deleted and remains live. By looking in the logs, the following error is reported:
[code]
**What happens**
During the deletion of an host, at a certain point the current flow takes care of [removing the secret finalizer](https://github.com/metal3-io/baremetal-operator/blob/3f19cf4344fed69def3a167a86a1375405840cac/controllers/m

[2021-12-15 16:05] #1053 closed

[2021-12-20 13:55] kashifest commented on #1013
https://github.com/metal3-io/metal3-dev-env/pull/870

[2021-12-24 11:41] #947 closed

[2021-12-29 20:42] #961 closed

[2021-12-30 14:42] #956 closed

[2022-01-11 21:57] zaneb commented on #960
/remove-lifecycle stale

[2022-01-11 22:06] zaneb commented on #979
/remove-lifecycle stale

[2022-01-12 15:23] #960 closed

[2022-01-12 16:38] demonCoder95 commented on #855
/assign @demonCoder95

[2022-01-12 16:39] demonCoder95 commented on #855
I'm going to take a stab at the last 2 validations related to RAID. @zaneb PR coming up soon.

[2022-01-14 13:10] demonCoder95 commented on #206
@zaneb @andfasano I believe all the work related to this issue has been merged. We can close it now.
#1062 was the last item related to this.

[2022-01-14 14:06] demonCoder95 commented on #855
@zaneb PR up, as promised. #1070

[2022-01-14 16:29] zaneb commented on #206
FYI, anyone can close an issue. Like this:
/close

[2022-01-17 20:52] s3rj1k commented on #746
/reopen

[2022-01-17 22:08] honza commented on #746
Should we tag `v1.0.0` and see where that takes us?

[2022-01-17 22:16] s3rj1k commented on #746
@honza I assume that 1.0.0 tag should be placed on matching commit hash with https://github.com/metal3-io/cluster-api-provider-metal3/releases/tag/v0.5.4

[2022-01-18 15:52] honza commented on #746
On second thought, perhaps we shouldn't declare 1.0.0 while we're in alpha.

[2022-01-18 16:24] dhellmann commented on #746
Indeed, I would expect to have a stable API version before a 1.0.0 declaration.

[2022-01-18 16:53] furkatgofurov7 commented on #746
@s3rj1k yes you are right, the BMO tag is normally pushed after capm3 is released.
 i,e when capm3 v1.0.0 is released, BMO tag with v1.0.0 also needs to be pushed (https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/docs/releasing.md#create-a-new-tag-for-ironic-and-bmo-images).

[2022-01-18 17:02] furkatgofurov7 commented on #746
Also related to this, we had a discussion on slack some time ago asking everyone's opinion on this: https://kubernetes.slack.com/archives/CHD49TLE7/p1633610872156200 when we started efforts to uplift CAPM3 to v1beta1 API of CAPI, and the work on that almost finished.

The release of CAPM3 with support of v1beta1 API does not exist yet, but we were planning internally to make one soon (which would

[2022-01-18 17:21] s3rj1k commented on #746
@fmuyassarov someething like v0.5.4 will work also, as an starting point

[2022-01-19 13:33] lentzi90 opened #1072 "Clean up ironic deployment manifests"
The [ironic-deployment](https://github.com/metal3-io/baremetal-operator/tree/main/ironic-deployment) files are currently [treated with `envsubst`](https://github.com/metal3-io/baremetal-operator/blob/7125c9160a005b0ae92b9c7aac8d87812e352cf7/tools/deploy.sh#L28-L53) in order to inject some values from environment variables. This can be warranted in some situations (e.g. in the [ironic-auth-config-t

[2022-01-19 14:20] zaneb commented on #1045
The reason it fails is that we set the 'controller' flag on the owner reference, which makes it mutually exclusive. For other reasons I had to investigate what this is for, and it is clear to me that we don't need it. I think it was added by mistake: somebody saw the controller  flag, and figured that we are a controller so we'll set the flag.

So I'd be in favour of removing it, feel free to send

[2022-01-20 01:22] ileixe commented on #1045
@zaneb Thanks for the explanation. I confirmed that the flag was not existed before. I made a PR to change the flag naively but not sure the impact and may miss some release procedure as it may impact expected behavior (not breaking change though). So please let me know if I need to do something more (test/doc). I will be pleasured to add them following the guide.

[2022-01-20 07:16] Rozzii commented on #1072
/priority-backlog

[2022-01-20 07:18] Rozzii commented on #1072
/priority backlog
/kind cleanup

[2022-01-21 11:47] yanndegat commented on #992
hi @jplimack

did you manage to get around it ? i'm currently stuck with the same issue.

[2022-01-24 13:46] dtantsur commented on #999
Fixed in Ironic upstream: https://review.opendev.org/c/openstack/ironic/+/824523

As Steve mentioned, please use bugzilla to file bugs against openshift.

[2022-01-24 13:46] #999 closed

[2022-01-25 20:09] zaneb commented on #1009
/remove-lifecycle stale

[2022-01-31 14:11] janiskemper opened #1079 "Question: is "dirty" still used to avoid infinite reconcile loops?"
Since ```actionFailed``` is always returned with ```dirty: true``` (https://github.com/metal3-io/baremetal-operator/blob/main/controllers/metal3.io/baremetalhost_controller.go#L354), how is this parameter still used? I understand that it is meant to avoid "update" calls in some cases. However, updates altering the error counter are already filtered out. Therefore, I think it doesn't follow the ori

[2022-02-02 14:47] Rozzii commented on #1079
/cc @zaneb

[2022-02-02 16:41] zaneb commented on #1079
You appear to be right that there's no need to have a `dirty` field in `actionFailed`, and its `Dirty()` method could just always return `true`. I don't recall the history of why I thought that was needed previously. I suspect it dated from before we had an error count to update. Feel free to remove it.

In general the `Dirty()` method of the `actionResult` interface exists to prevent unnecessary

[2022-02-02 16:49] zaneb commented on #1079
/triage accepted

[2022-02-02 18:26] janiskemper commented on #1079
Thanks for clarification @zaneb. I can have a look at it when I have the time, but I suppose it would be a bigger refactoring, as it is used in a lot of tests etc. Should this issue be the base for future refactoring, or should we close this and open a new one for that?

[2022-02-02 21:10] zaneb commented on #1079
It shouldn't require more than 3 lines to be changed as far as I can see. I think we can leave this issue open to cover that.

[2022-02-03 07:20] Rozzii commented on #410
/triage accepted

[2022-02-03 07:21] Rozzii commented on #746
/triage accepted

[2022-02-03 07:21] Rozzii commented on #855
/help
/triage accepted

[2022-02-03 07:25] Rozzii commented on #959
/triage accepted
/kind bug

[2022-02-03 07:33] Rozzii commented on #979
/kind bug
/triage accepted

[2022-02-03 07:34] Rozzii commented on #992
/kind bug
/help
/triage accepted

[2022-02-03 07:35] Rozzii commented on #1001
/triage needed

[2022-02-03 07:36] Rozzii commented on #1001
/needs triage

[2022-02-03 07:37] Rozzii commented on #1001
/triage

[2022-02-03 07:39] Rozzii commented on #1009
/triage accepted

[2022-02-03 07:40] Rozzii commented on #1001
/triage needs

[2022-02-03 07:42] Rozzii commented on #1013
I think this work has been concluded , do you agree to close it @kashifest ?

[2022-02-03 07:42] Rozzii commented on #1013
/assign @kashifest

[2022-02-03 07:42] Rozzii commented on #1013
/triage accepted
/kind design

[2022-02-03 07:43] kashifest commented on #1013
Yes. This is done.

[2022-02-03 07:43] #1013 closed

[2022-02-03 07:45] Rozzii commented on #1024
/triage accepted
In case the answer was sufficient then please @dramasamy close the ticket with the "/close" command.

[2022-02-03 07:46] Rozzii commented on #1024
/lifecycle stale

[2022-02-03 07:48] Rozzii commented on #1043
/triage accepted
/lifecycle stale
If the answer was sufficient please @FruityWelsh close the ticket.

[2022-02-03 07:50] Rozzii commented on #1045
/triage accepted
/kind bug

[2022-02-03 07:50] Rozzii commented on #1045
/assign @ileixe @zaneb

[2022-02-03 07:51] Rozzii commented on #1072
/triage accepted
/help

[2022-02-03 09:41] dramasamymsft commented on #1024
/close

[2022-02-03 09:41] #1024 closed

[2022-02-04 15:33] dtantsur commented on #1001
I don't have objections, but someone needs to write a design document and drive the work.

[2022-02-11 16:02] furkatgofurov7 opened #1082 "pkg/hardwareutils module is not imported properly"
When uplifting [BMO apis modules](https://github.com/metal3-io/cluster-api-provider-metal3/blob/main/go.mod#L11) in CAPM3, I am facing an issue where it tries to import BMO api but fails to read `pkg/hardwareutils
`  as follows:

[code]

Looks like when fetching BMO apis from root go.mod of BMO, it tries to access `github.com/metal3-io/baremetal-operator/pkg/hardwareutils` and is not able to find

[2022-02-11 16:02] furkatgofurov7 commented on #1082
/cc @ardaguclu

[2022-02-11 16:06] furkatgofurov7 commented on #1082
I have tried to uplift it locally, and the only way to succesfully uplift BMO api iin CAPM3 go mod was this way: https://github.com/metal3-io/cluster-api-provider-metal3/pull/516/commits/30785eec1f0374b9d8f2dcc0b40bb020883b86a0

where I had to do the replace of `github.com/metal3-io/baremetal-operator/pkg/hardwareutils` myself, whereas previously `github.com/metal3-io/baremetal-operator/apis ` too

[2022-02-11 16:19] ardaguclu commented on #1082
@furkatgofurov7 that is strange. I'll investigate.

/assign

[2022-02-11 16:23] furkatgofurov7 commented on #1082
/triage accepted

[2022-02-14 15:26] bfournie opened #1084 "Validating Webhook for HostFirmwareSettings"
A webhook should be added for HostFirmwareSettings to detect invalid changes.  The validations should include:

- Invalid setting names
- Invalid values for settings compared to the FirmwareSchema for the host
- Updates made to master nodes

[2022-02-15 12:04] dtantsur opened #1085 "BMO may try to update the node's instance_uuid"
I've seen it in the CI: https://jenkins.nordix.org/job/metal3_metal3_dev_env_v1a5_integration_test_centos/23/. Probably reproducible by re-creating a BMH for a deployed node.

The problem is, instance UUID is intentionally not updatable (it serves as an optional lock). We need to be able to generate a UUID that survives the BMH recreating, probably be generating it from the address or the name.

[2022-02-15 12:04] dtantsur commented on #1085
/kind bug
/triage accepted

[2022-02-15 14:39] hardys commented on #1085
I looked at the logs, and I think we're failing to [save the node UUID](https://github.com/metal3-io/baremetal-operator/blob/main/controllers/metal3.io/baremetalhost_controller.go#L780) after re-creating the node in Ironic:

[code]

[2022-02-16 13:19] Rozzii commented on #992
/triage needs-information

[2022-02-16 13:20] Rozzii commented on #992
/remove triage/accepted

[2022-02-16 13:22] Rozzii commented on #992
/needs triage

[2022-02-16 13:24] Rozzii commented on #992
/remove-triage/accepted

[2022-02-16 13:25] Rozzii commented on #992
/remove triage/accepted

[2022-02-16 13:26] Rozzii commented on #992
/remove-triage-accepted

[2022-02-16 14:24] Rozzii commented on #1084
/triage accepted
/kind feature
/assign bfournie

[2022-02-16 14:28] Rozzii commented on #746
/remove-lifecycle stale

[2022-02-16 14:29] Rozzii commented on #1001
/kind feature

[2022-02-16 14:29] Rozzii commented on #1001
/help

[2022-02-16 14:30] Rozzii commented on #1001
/remove-lifecycle stale

[2022-02-16 14:38] Rozzii commented on #410
/cc @sadasu
Is it correct that https://github.com/metal3-io/baremetal-operator/pull/816 should be reopened in order to close this issue?
/remove-lifecycle frozen

[2022-02-16 22:55] zaneb commented on #1085
It sounds like something extremely not-legit is happening.
We use the host UID as the instance UUID for a reason, and that's to make sure that a successor host _can't_ accidentally take over a pre-existing ironic node.

[2022-02-17 02:19] zaneb commented on #1085
It seems like a bug in ironic that it returns 409 for this case that is not due to a write conflict but to the request being invalid in the current state.

What appears to be happening is that a reconciliation is in progress when ironic goes down, and it hangs for several minutes. These are consecutive log messages (270s apart) from the bmh controller, during which interval ironic is restarting:

[2022-02-17 12:26] Rozzii commented on #1072
NOTE to everybody: Fell free to work on this and contact/ping @lentzi90  if you have any question!

[2022-03-02 13:59] Rozzii commented on #1043
/triage needs-information

[2022-03-22 08:38] jgato opened #1098 "BMC Address configured to http but always trying https"
Hi all,

I am using ACM 2.4.2 and I have configured a deployment into an emulated VM with an emulated BMC (sushy). I have the Sushy emulator working on http (I could turn it to hptts, but I see this behavior strange).

why the following BaremetalHost is always trying http instead of https as it is configured:

[code]

I have tried with redfish-virtualmedia+http and it happens the same.

[2022-03-22 09:13] jgato commented on #1098
Some more info. No matter how much I change the url... the spec changes, but the status and events still pointing to the first configuration created:

[code]

[2022-03-24 11:01] ardaguclu commented on #1082
Unfortunately, nowadays I'm working on different projects and most probably I'll not be able to find time to fix that.

/unassign

[2022-04-01 14:20] #1043 closed

[2022-04-05 08:08] fmuyassarov opened #1105 "BareMetalHost deprovisioning phase hooks"
In some cases, deletion of CAPI Machine doesn't have time to drain the node, because as soon as deletionTimestamp is added on the BareMetalHost, BMO/Ironic takes the host through deprovisioning. As such, Machine is hanging in drain and the BareMetalHost is already deprovisioned. We would like to have a way to delay the deprovisioning of the host until Machine draining has not been completed. One w

[2022-04-05 20:22] knfoo commented on #1105
I am not sure if this is relevant or not.
But  we are running fairly large BMH so it be cool to have a way to mark the machine for deletion that will just cordon the node and wait till the workload have remove it self from the node because of usual deployment patterns.
Added to that have a way to say that the node should be drained after x-time if workload have not moved it self off the BMH

[2022-04-05 20:28] zaneb commented on #1105
I am confused about the scenario in which this problem is triggered.

CAPM3 should _never_ be deleting a BareMetalHost.

[2022-04-06 09:22] fmuyassarov commented on #1105
I'm sorry for not being clear. But here is the scenario and I should have properly described it in the description.

Let’s assume in case when there is CAPI + CAPM3 involved, and Machine/Metal3Machine/BMH is provisioned and the user deletes the BMH. We normally don’t recommend deleting BMH when it is owned by CAPI/CAPM3 CRs. Instead, the user should delete the Machine (top to bottom) which eventua

[2022-04-06 09:22] fmuyassarov commented on #1105
@zaneb @knfoo please let me know about your thoughts.

[2022-04-06 14:22] Rozzii commented on #1105
/triage accepted

[2022-04-07 00:34] zaneb commented on #1105
That makes so sense, it should just never set the owner reference.

[2022-04-07 00:54] zaneb commented on #1105
I worked on some similar issues in our (ancient) fork here: https://github.com/openshift/cluster-api-provider-baremetal/pull/113

If the Host is deprovisioned while it is allocated, we [transistion the Machine to the Failed phase](https://github.com/openshift/cluster-api-provider-baremetal/commit/3217bcbfb687720b5e0ade8be6346097ce72f2dc). Previously we used to delete the Machine, but it looks like

[2022-04-07 06:13] kashifest commented on #1105
I believe the reason we used to set owner reference is to ensure the owner reference chain for clusterctl for [pivoting](https://cluster-api.sigs.k8s.io/clusterctl/provider-contract.html#ownerreferences-chain).

[2022-04-07 19:07] zaneb commented on #1105
Oh right, the pivot.

[2022-04-13 17:03] zaneb commented on #1105
I think either the MHC or the remediation controller needs to take that into account. If the host has been deprovisioned then rebooting will never work and shouldn't be tried.

As I mentioned above, I fixed this in OpenShift with https://github.com/openshift/machine-api-operator/pull/688. In that version of the Machine API, if the Machine is Failed then the controller never calls the actuator agai

[2022-04-14 06:01] kashifest commented on #1105
MHC is a recovery process. What @fmuyassarov is proposing , is a first hand prevention mechanism.

Do you see any issue @zaneb if we add the annotation in BMH from CAPM3 and leaving all the BMO workflow as it is and only react to prevent the BMH from unwanted/accidental de-provisioning once CAPM3 has set the annotation?

[2022-04-15 14:21] #992 closed

[2022-04-16 13:07] petro-rudenko opened #1110 "[QUESTION] how to get ironic logs?"
Hi, sorry for the probably silly question, found there's a [ironic-debuggability-improvement document](https://github.com/metal3-io/metal3-docs/blob/59a48aa08aa67f054a8f1455772b2a4ec9055573/design/ironic-debuggability-improvement.md) but still can't find an answer.

I've setup local ironic, but got ipmi error:
[code]

Running this command from ironic inspector container works fine. And I can't fin

[2022-04-18 17:27] zaneb commented on #1105
I mean, yeah, I think it's a horrible user experience.

And I don't think we should protect the users from this. There's no way to undo a delete in k8s, so if the user deletes something we should let it get removed instead of sitting around in an undead state with the DeletionTimestamp set. And other stuff that references it should observe that and report their status appropriately (in this case t

[2022-04-19 06:40] kashifest commented on #1105
I don't think the idea is understood correctly by one of us. I understood that the idea is not trying to undo a delete in k8s, the idea is allowing to delay BMH deprovisioning until Machine drains gracefully.

I agree that in absence of this logic normally Machine should be in a failed state to correctly depict the scenario, which we already have currently. The problem is we don't have any mechani

[2022-04-20 08:45] #1110 closed

[2022-04-20 14:09] Rozzii commented on #1105
/assign @fmuyassarov

[2022-04-20 14:31] zaneb commented on #1105
As discussed in the meeting, I don't think it is. Deleting a VM from a cloud provider (using the cloud APIs directly) is exactly equivalent to deprovisioning a BMH. The Metal3Machine ought to detect this and cause the Machine to be marked as Failed, as other CAPI providers do afaik.

[2022-04-21 13:17] fmuyassarov opened #1113 "Failing to delete the host"
Trying to delete provisioned host and it hangs forever at deleting state. Below is an example log trace of the operator.
[code]

``` failed to delete: failed to set host maintenance flag to true (failed to update host settings in ironic: Bad request with: [PATCH https://172.22.0.2:6385/v1/nodes/fcbaca34-750d-4ba9-af39-34884673a920], error message: {\"error_message\": \"{\\\"faultcode\\\": \\\"Clie

[2022-04-21 13:17] fmuyassarov commented on #1113
/kind bug

[2022-04-21 13:50] mel1nn opened #1114 "Failures in ironic httpd probes"
Using the last version of ironic (capm3-v1.1.1), the probes of the ironic-httpd container fail :
`Warning  Unhealthy  6s (x2 over 36s)  kubelet Liveness probe failed: curl: (35) error:0A00010B:SSL routines::wrong version number`

Same error for the readiness probe.

Thanks for your help.

[2022-04-21 13:50] mel1nn commented on #1114
/kind bug

[2022-04-21 14:27] zaneb commented on #1113
@dtantsur this seems like it's potentially a bug in ironic?
It's rare for me to delete a Host that is ExternallyProvisioned, but I assume it's common using CAPM3 after a pivot. So it's possible this is caused by a recent-ish change in behaviour.

[code]

If you can PATCH `maintenance` I'd have thought you ought to be able to PATCH `maintenance_reason` at the same time. That being what it's for.

[2022-04-21 15:30] zaneb commented on #1105
Yeah, that bug could explain a lot of the problems you've been having.

However, that appears to be due to a limitation in CAPM3. It's a mistake to assume that the Machine is failed only if the BMH is removed. It's actually failed as soon as the BMH starts deprovisioning (for any reason). In OpenStack terms, you've lost your machine not when the Ironic Node is deleted but when the Nova Server that

[2022-04-21 15:36] zaneb commented on #1113
If it changed recently then I'd guess that https://review.opendev.org/c/openstack/ironic/+/747820 is what changed it.

[2022-04-21 15:41] dtantsur commented on #1113
No, it's caused by https://github.com/metal3-io/baremetal-operator/pull/1088. Working on a fix.

/triage accepted
/assign

[2022-04-21 15:45] zaneb commented on #1113
Aha! We should probably revert #1088 until we have a fix based on gophercloud/gophercloud#2384 available (since that will require updating dependencies).

[2022-04-21 15:49] dtantsur commented on #1113
Yep https://github.com/metal3-io/baremetal-operator/pull/1116

[2022-04-22 08:16] kashifest commented on #1113
I was living in ignorance then, this far I was thinking this was a BMO feature :smile: , Thanks @zaneb for pointing it out.

[2022-04-25 12:10] fmuyassarov commented on #1113
I've reopened the issue, because even after the revert the issue still persists.

[2022-04-26 10:22] fmuyassarov commented on #1113
sorry I was wrong, deletion work fine now.
/close

[2022-04-26 10:22] #1113 closed

[2022-04-27 13:51] fmuyassarov commented on #1105
this makes sense

[2022-04-27 14:34] Rozzii commented on #1114
/triage accepted

[2022-05-03 19:10] s3rj1k commented on #1009
I have a question regarding this [change](https://github.com/metal3-io/baremetal-operator/commit/42db90bf6938eb9905e7518c5d258b83ef434573), I assume this is related to docs.

Why do we consider all labels as Preprovision labels?
cc: @dtantsur

[2022-05-03 19:22] s3rj1k commented on #1009
This commit should explain that https://github.com/metal3-io/baremetal-operator/commit/363ab1782bb0c395bbec7ff395856d47076452c7

[2022-05-03 19:43] zaneb commented on #1009
Yeah, it's up to downstreams to build their own controller, so we can't hard-code any list of labels. The default controller provided in metal³ doesn't care about _any_ labels.

[2022-05-03 20:02] s3rj1k commented on #1009
Initially I assumed that this could be somehow filtered by key label suffix or prefix or gTLD label part :)

[2022-05-04 07:50] fmuyassarov commented on #1105
Hi @zaneb @kashifest
Actually even after the fix with BMO deletion, we still have another issue with Machine deletion. Deletion could be blocked and I've tested it. If there is some workload on the host (a daemonset with some volume attached) Machine can not be deleted, because as said earlier CAPI tries to drain the node, which doesn't exist because BMH got deleted. We could just pause this delet

[2022-05-04 19:50] kplimack opened #1119 "BMO looses state of nodes and requires database rebuild"
BMO looses state for node and requires a bounce of ironic stack to recreate database.
this has been happening a lot, not sure what is causing it

this BMH exists and the bootmacaddress is accurate in the host.  it has been through a provisioning cycle and this occurs when going into deprovisioning to become available again.
[code]

[code]

[2022-05-10 14:56] zaneb commented on #410
Yes, or some equivalent.

[2022-05-11 14:14] Rozzii commented on #1119
/triage needs-information

[2022-05-11 14:15] Rozzii commented on #1119
Please provide steps to reproduce this issue, I have not experienced this issue so far.

[2022-05-11 14:26] Rozzii commented on #1045
/remove-lifecycle stale

[2022-05-11 14:29] Rozzii commented on #1079
/help

[2022-05-17 15:28] s3rj1k commented on #746
/remove-lifecycle stale

[2022-05-23 10:37] smoshiur1237 opened #1122 "Outdated BaremetalHost Provisioning States diagram"
I was going through the BMH provisioning states [diagram](https://github.com/metal3-io/baremetal-operator/blob/main/docs/baremetalhost-states.md) and it needs some update which were changed in different commits. For example:

1. Move from Available to Preparing if [HostFirmwareSettings](https://github.com/metal3-io/baremetal-operator/commit/cd3340b20de240feb1566432def9fc6b678f7626) changed (missin

[2022-05-23 10:38] smoshiur1237 commented on #1122
/cc @zaneb

[2022-05-24 02:30] kplimack commented on #1119
@zaneb @Rozzii I hope these logs are helpful.  If there's something else I missed, let me know and I'll try to capture those logs.

[code]

[2022-05-24 02:57] zaneb commented on #1119
@dtantsur is there enough info here to get a clue what is happening.
I suspect not, we don't appear to have the ironic logs for one full request (or if we do they're not very illuminating).
I don't see any ironic-conductor logs (which would be the most interesting) at all, is it possible those are in a separate container?
A full log from the baremetal-operator itself might potentially help with ma

[2022-05-24 03:04] zaneb commented on #1122
/triage accepted
/kind cleanup

[2022-05-24 16:24] kplimack commented on #1119
I dont see anything interesting in the `ironic-conductor` container

# baremetal-operator-controller-manager
[code]

# ironic-conductor
[code]

# baremetal-operator-ironic/manager
[code]

# ironic-api
[code]

[2022-05-25 08:01] hs0210 commented on #959
/remove-lifecycle stale

[2022-05-25 14:45] kplimack commented on #1119
this is deployed on real hardware.  BMO and ironic are deployed on the same host
I can provide the manifests for my stack with the exact images I have deployed (I plan on open sourcing my helm charts for metal3 / bmo soon).  What else would be helpful to reproduce this issue ?

[2022-05-25 14:50] Rozzii commented on #1084
/help

[2022-05-25 14:50] Rozzii commented on #1084
Was there a PR related to this pushed? @bfournie

[2022-05-27 19:39] kplimack opened #1124 "autodiscovery"
It would be a big time saver if `BareMetalHost` objects did not require the `BootMACAddress`, but instead were able to rely on the data collected during inspection.  I would love to be able to intake large quantities of hardware and not need to first collect all of their MACs.  When the onboard MAC isnt used, its not easy to ask a hardware vendor to provide it.

[2022-05-28 17:02] kplimack commented on #1124
seems like this discussion has come up before, https://github.com/metal3-io/baremetal-operator/pull/284

When I have hardware to intake, I know all the BMC MAC Addrs and serve static-DHCP via ironic-dnsmasq and a dhcp-relay, so I can see all of the nodes booting and identify them.  Ive also had success scraping the MAC addresses using redfish, though sometimes it is returned as 00:00:00:00:00.
Per

[2022-05-28 17:04] kplimack commented on #1124
also https://github.com/metal3-io/baremetal-operator/issues/979

[2022-05-31 11:36] smoshiur1237 commented on #1122
Will be fixed #1125

[2022-06-01 00:48] zhouhao3 opened #1129 "Add the feature of specifying the certificate path in BMH"
Currently there is only one field `disableCertificateVerification` in BMH to skip certificate verification. When this field is set to true, the default certificate in ironic will be used for SSL authentication when connecting to BMC. But these default certificate validations may fail (we have validated the iRMC server).
BMO sets the contents of `driver_info(verify_ca)` based on the value of `disab

[2022-06-01 00:50] zhouhao3 commented on #1129
@dtantsur @zaneb @andfasano Is this an acceptable feature?

[2022-06-02 10:25] dtantsur commented on #1129
Hi! I'm not sure how you want to put a file to the containers... If you build a new container, you can just as well make your certificate trusted?

[2022-06-03 06:29] lentzi90 commented on #1072
/assign @lentzi90
/remove-lifecycle stale
/remove-help

[2022-06-03 08:21] mel1nn commented on #1114
To be more specific, the liveness and readiness probes returns a 404 HTTP error:
`Liveness probe failed: curl: (22) The requested URL returned error: 404` (associated curl command: `curl -sSf http://127.0.0.1:6180`)

The error `error:0A00010B:SSL routines::wrong version number` happens with the second curl command `curl -sSfk https://127.0.0.1:6180`

[2022-06-03 08:27] #979 closed

[2022-06-06 08:51] fenggw-fnst commented on #1129
Can we mount the certificate to the Ironic container? The specified certificate path should be the mount point in that container.

[2022-06-08 14:19] Rozzii commented on #1119
@kplimack  that would be very good to see every log/manifest/ helmchart (anything that takes part in the deployment).

[2022-06-08 14:27] zaneb commented on #1124
Not every driver requires the Boot MAC, but the ones that do (all PXE drivers aiui) require it in order to boot the IPA image that does inspection. So there's no way to get it from inspection.

[2022-06-08 14:32] Rozzii commented on #1129
@zhouhao3 Could you please explain to us that why is bundling multiple certificates together is not a suitable solution?
What is blocking you from using a CA bundle ?

[2022-06-08 14:37] Rozzii commented on #1085
/remove-lifecycle stale

[2022-06-08 14:42] Rozzii commented on #1079
/kind feature

[2022-06-08 20:46] zaneb commented on #1129
If there were a way to pass the certificate directly to ironic then I could see us allowing the user to specify the certificate in the BMH. As it is, though, I can't imagine this ever making sense because the certificate must be on-disk in the ironic container, and that's not something that the BMO could control. Nor would we want to make paths that are specific to a particular deployment of ironi

[2022-06-10 13:55] #1122 closed

[2022-06-16 15:28] #1001 closed

[2022-06-17 10:39] #1072 closed

[2022-06-20 02:34] sailorvii opened #1136 "Host status does not update correctly"
https://github.com/metal3-io/baremetal-operator/blob/050e0e7e104fc3bdcf1f79426c33147d83d403dc/controllers/metal3.io/baremetalhost_controller.go#L1352

If the prov.Diry is true, but the host status has no error, the result will be actionContinue which will not update the host status.

func (r actionContinue) Dirty() bool {
	return false
}

I'm not sure if it's an issue or not.

[2022-06-22 13:52] Rozzii commented on #1129
@zhouhao3 The certificate used by Ironic is not controlled by BMO at all, the certificate used by ironic is directly mounted to the ironic container as part of the Ironic deployment BMO has no say in it. You can just mount the required certificates directly to the Ironic container and this is the reason why we are a bit puzzled here that why would you involve BMO and BMH in this process at all?

[2022-06-22 14:26] Rozzii commented on #1082
/help

[2022-06-22 14:27] dtantsur commented on #1124
I think we're conflating two things here:

1) Not requiring a boot MAC address. Ironic supports that for Redfish: it automatically does OOB inspection before running a full one. We may need to test it and remove the requirement, if needed. Nothing like that for IPMI.

2) Auto-discovery, i.e. the process of automatically enrolling nodes that PXE boot from our DHCP server. This is supported by ironi

[2022-06-22 16:12] kplimack commented on #1124
@dtantsur am I misunderstanding this code?
https://github.com/metal3-io/baremetal-operator/blob/main/pkg/hardwareutils/bmc/redfish.go#L54-L58
It seems like redfish does require the boot mac address

[2022-06-23 03:57] zhouhao3 commented on #1129
@Rozzii Thank you for your reply, as I said above, Currently IPI does not  support specifying root certificates, so I wonder if it can be passed from BMO. So I wrote this issue to see what everyone thinks.
Now that I know this is not part of the BMO thing to do, I created an [issue](https://github.com/openshift/installer/issues/6001) in openshift to discuss this, and I will close this issue.

[2022-06-23 03:57] #1129 closed

[2022-06-23 08:47] sailorvii commented on #1136
Sorry that my mistake, I check the status immediately after power on/off and the status.PoweredOn doesn't change, but it could refresh several minutes later. Close it.

[2022-06-23 08:47] #1136 closed

[2022-06-23 09:10] dtantsur commented on #1124
Yes, because the work on the BMO side has not been done yet.

[2022-06-24 15:28] #1084 closed

[2022-07-06 14:03] dtantsur commented on #1124
/triage needs-information

So, what is it about, Redfish or generic auto-discovery?

[2022-07-06 14:14] furkatgofurov7 commented on #855
/remove-lifecycle stale

[2022-07-06 14:16] furkatgofurov7 commented on #1082
/remove-lifecycle stale

[2022-07-06 14:18] Rozzii commented on #1082
/kind bug

[2022-07-06 14:21] Rozzii commented on #855
/remove-lifecycle stale

[2022-07-06 14:21] Rozzii commented on #855
/lifecycle freez

[2022-07-06 14:22] Rozzii commented on #855
/lifecycle frozen

[2022-07-11 17:49] goshlanguage commented on #1082
@ardaguclu I found that there need to be specific tags created for the submodules, please see:
https://github.com/metal3-io/baremetal-operator/pull/1141#issuecomment-1180691322

Can we please create tags for `apis/v1.1.2` and `hardwareutils/v1.1.2` from the `v1.1.2` tag? This should resolve the import issue.

[2022-07-13 13:53] goshlanguage commented on #1082
@furkatgofurov7 do you know perhaps how we could have these tags produced to resolve the import issues?

[2022-07-13 16:48] s3rj1k commented on #1082
I do not see anything wrong with using hash commit, it will work, lots of golang modules out in the wild do not set proper tags, it is life, this is not convenient, I agree, but work fine.

Actually it does, you just need to set multiple tags on same commit, one for root go.mod, containing tagged release version and other tags must be prefixed with subfolder path of go.mod.

So I was referring tha

[2022-07-13 16:55] s3rj1k commented on #1082
Oh, pardon me, BMO actually does have some newer tagged releases, this is nice

[2022-07-13 16:58] s3rj1k commented on #746
So now we have like 3 capm3-v1.1.x tagged releases, this is nice, but now there is an issue with missing tags for go.mod that are under the repo root, like one in the api folder.

ref: https://github.com/metal3-io/baremetal-operator/issues/1082

[2022-07-18 08:59] haoziwu opened #1146 "no support for boot from remote volume"
there is no interface in baremetal-operator for  boot from remote volume, while ironic is support for it:
[https://docs.openstack.org/ironic/latest/admin/boot-from-volume.html](url)

[2022-07-20 14:47] Rozzii commented on #1146
Thank you for reporting this issue @haoziwu !

In my opinion it would be a very nice feature and I'm tempted to accept it but I'd like to hear your opinion @dtantsur
/kind feature

[2022-07-20 14:53] Rozzii commented on #1098
/remove-lifecycle stale

[2022-07-22 01:39] haoziwu commented on #1146
@Rozzii thanks, now i'm working on this problem, please refer to this pr https://github.com/metal3-io/baremetal-operator/pull/1147  ,  it will be ok after all kinds of tests.

[2022-07-28 17:54] goshlanguage commented on #1082
Can someone with repo write access push these tags for the latest release so that the `hardwareutils` and `api` packages can be imported/resolved by `go mod tidy` without work arounds?

[2022-07-28 17:58] goshlanguage commented on #1082
@fmuyassarov I see you just cut a new release, would you please add tags for the `api` and `hardwareutils` submodules?

[code]

[2022-08-01 08:54] fmuyassarov commented on #1082
@goshlanguage @s3rj1k Sorry for delay. I was playing with with tagging of packages and it seems to work...
Am I correct that if we just push tags is enough? Do we have to update the version number of the `apis` and `pkg/hardwareutils` in the root `go.mod` and in the `apis/go.mod` (for `pkg/hardwareutils` only)?

We can automate this part as well so that every time we release a new version of BMO,

[2022-08-01 09:13] s3rj1k commented on #1082
@fmuyassarov

If there are no `replace` command (local variant with relative paths) in go.mod you will have to bump versions also.

[2022-08-02 07:23] fmuyassarov commented on #1082
@s3rj1k @goshlanguage [api/v0.1.0](https://github.com/metal3-io/baremetal-operator/releases/tag/apis%2Fv0.1.0) and [pkg/hardwareutils/v0.1.0](https://github.com/metal3-io/baremetal-operator/releases/tag/pkg%2Fhardwareutils%2Fv0.1.0) tags are added now.

[2022-08-02 07:58] fmuyassarov commented on #1082
@furkatgofurov7 I think we should not face that issue anymore if we try with v0.1.0

[code]

[2022-08-02 09:42] s3rj1k commented on #1082
@fmuyassarov is this above a reference to CAPM3 ?

[2022-08-02 10:38] fmuyassarov commented on #1082
yes, that's the output of BMO uplift in CAPM3

[2022-08-03 13:52] Rozzii commented on #1146
/triage-accepted

[2022-08-03 13:53] Rozzii commented on #1146
/triage accepted

[2022-08-03 14:14] fmuyassarov commented on #1105
/close

[2022-08-03 14:14] #1105 closed

[2022-08-07 05:28] k82cn opened #1158 "Update customized property of BMH"
In my scenario, I'd like to add more properties when creating node.

[2022-08-07 09:55] s3rj1k commented on #1158
@k82cn Please provide example

[2022-08-08 06:28] k82cn commented on #1158
Those two properties are required to my HW, I hack the code to make it work; that'll be great to have a way to add more customized properties.

[code]

[2022-08-08 07:15] k82cn commented on #1158
typo: properties -> driver_info :)

[2022-08-08 08:07] s3rj1k commented on #1158
--driver-info ipmi_disable_boot_timeout=false \

I assume that you can set those values directly in ironic config?

[2022-08-11 09:03] demonCoder95 commented on #855
/unassign @demonCoder95

[2022-08-16 17:00] Rozzii opened #1159 "Open up the possibility of using all deviceHint operators in certain deviceHint types"
The way device hint handling is implemented right now in https://github.com/metal3-io/baremetal-operator/blob/main/pkg/provisioner/ironic/devicehints/devicehints.go#L18-L44 means that there is no possibility to use any other Ironic device hint operator other than the ones that are hard coded in the aforementioned implementation.

IMO: the serialNumber and the 3 different WWN hints, the DeviceName

[2022-08-16 17:00] Rozzii commented on #1159
/cc @kashifest
/cc @dtantsur
/cc @zaneb

[2022-08-16 17:01] Rozzii commented on #1159
/cc @andfasano
/cc @fmuyassarov

[2022-08-17 05:46] kashifest commented on #1159
+1 for removing the "s==" prefix at BMO level. @dtantsur @zaneb wdyt? Do you have any suggestions?

[2022-08-17 10:26] dtantsur commented on #1159
No objections from me. We also need to consider non-default operators for integer values.

/triage accepted

[2022-08-17 10:27] dtantsur commented on #1159
/kind enhancement

[2022-08-17 14:28] Rozzii commented on #1158
/triage-accepted
/kind feature
/help

[2022-08-17 14:29] Rozzii commented on #1158
/triage accepted

[2022-08-17 14:29] Rozzii commented on #1158
/cc @dtantsur

[2022-08-17 14:38] Rozzii commented on #410
/remove-lifecycle stale

[2022-08-17 14:42] Rozzii commented on #1045
/remove-lifecycle stale

[2022-08-18 20:54] zaneb commented on #1159
One goal we have with the Metal³ is to _not_ be a passthrough for the ironic API. I'm concerned that this approach is based on ease of implementation, not whether it is actually a good k8s API design. I'm more concerned that this opens up the possibility that the behaviour will be different in the future depending on the version of ironic, and entirely untethered from the versioning of the BMH API

[2022-08-23 08:45] hs0210 commented on #959
/remove-lifecycle stale

[2022-08-24 08:45] dtantsur commented on #1159
So, our options:

1) Expose operators in the current API. I'm not overly fond how they're done in Ironic, and we don't want to leak the Ironic API directly to consumers.

2) Change all hints to be a structure with a value and an operator. Clean but backward incompatible.

3) Add new hints like `serialIn` which is the same as `serial: <in> value`. Easy to do in a compatible way, but unclear what to

[2022-08-24 08:47] dtantsur commented on #1158
Re cipher suite. Our image already has this in the configuration:

[code]

It should allow negotiation. Isn't it enough for your case?

[2022-08-24 08:48] dtantsur commented on #1158
I'd be curious to hear why you need `ipmi_disable_boot_timeout`, but it feels like something we could add as an option to the BMC address.

[2022-08-24 12:39] kashifest commented on #1159
I think this is the easier way perhaps not popular as @zaneb pointed out.

I dont think this is preferable as it would be a breaking change.

We need something similar to this perhaps to make the BMO API sustainable. We need some suggestions on how to make it work for all the operators.

[2022-08-30 08:28] k82cn opened #1163 "Failed to delete BMH"
When failed to create metadata because of network, I'd like to delete the whole namespace to re-create the cluster from scratch; all other CRs are deleted, e.g. Metal3Cluster. But BareMetalHost can not be delete, and the status of namespace keep Terminating forever; and `kubectl delete bmh --force` also does not work.

Here's the log from baremetal-operator pod:

[code]

[2022-08-30 08:28] k82cn commented on #1158
let me try this for cipher part.

[2022-08-31 10:24] Rozzii commented on #1159
Thanks for all the feedback, I agree with you @zaneb and I will try to propose a approach based on what @dtantsur  mentioned
based as option 3.

[2022-09-07 14:39] Rozzii commented on #1114
Yes I have seen this downstream also. I will take care of it .
/remove-lifecycle stale

[2022-09-07 14:44] Rozzii commented on #1082
/assign @furkatgofurov7

[2022-09-07 14:44] Rozzii commented on #1082
/remove help

[2022-09-07 14:44] Rozzii commented on #1082
/remove help-wanted

[2022-09-08 21:04] goshlanguage commented on #1082
@furkatgofurov7 can we please update submodule versioning and cut a new release? For example, `github.com/metal3-io/baremetal-operator/apis@v0.1.0`'s [go.mod](https://github.com/metal3-io/baremetal-operator/blob/v0.1.0/apis/go.mod#L7) is still set to hardware v0.0.0 instead of v0.1.0 so importing the api package breaks when computing dependencies.

When I try to run my project through `golangci-li

[2022-09-08 21:18] furkatgofurov7 commented on #1082
Hi,
Thanks for the PR. If we will be able to get 1165 merged by tomorrow, sure thing.
I was planning to cut a new patch release tomorrow as I notified already the community over the slack recently (xref https://kubernetes.slack.com/archives/CHD49TLE7/p1662582014489209) due to other [reasons](https://github.com/metal3-io/baremetal-operator/pull/1149#issuecomment-1220371598) as well.

[2022-09-21 06:53] Rozzii commented on #1119
@kplimack
Hi, I am sorry that we were not able to help you with this issue but I have not seen this issue neither downstream nor upstream from other users and based on the currently available information I can't really see a way to reproduce it  without either messing with Ironic/inspector database or otherwise breaking something intentionally.

As it is an old issue I suppose you were able to sol

[2022-09-21 08:13] Rozzii commented on #1163
@k82cn
As I see from the information that you have provided the BMH was either not provisioned correctly or can't talk to ironic deployment or the ironic-deployment is deleted. As far as I know when BMH is deleted it triggers  deprovisioning by default and it seems in your case the deprovisioning fails for one or more of the aforementioned reasons.

As a workaround I would suggest using the "detac

[2022-09-21 13:23] furkatgofurov7 commented on #1082
This can be closed as solved, after tagging submodules properly, we can [import](https://github.com/metal3-io/cluster-api-provider-metal3/commit/2bd969fc5286e6409377ad83db40b0bd67cb81a8) BMO from the CAPM3 without workarounds. Thanks everyone.

/close

[2022-09-21 13:23] #1082 closed

[2022-09-21 13:24] furkatgofurov7 commented on #746
Hi,

Do you think we can close this issue now, thoughts?

/cc @zaneb @honza @s3rj1k @Rozzii @dhellmann

[2022-09-21 13:34] furkatgofurov7 commented on #1085
/remove-lifecycle stale

[2022-09-21 13:36] furkatgofurov7 commented on #1098
@jgato any further updates on this issue or can we go ahead and close it?

[2022-09-21 13:37] furkatgofurov7 commented on #1124
cc @kplimack

[2022-09-21 13:37] jgato commented on #1098
sure, we can close it. Thanks

[2022-09-23 15:23] CJCShadowsan commented on #1119
If you do release those helm charts, it would be extremely useful I think if this issue is still ongoing.

[2022-09-27 20:29] #1045 closed

[2022-09-28 00:26] zaneb commented on #746
Yeah, I believe we can declare victory here.

[2022-10-21 17:39] ReggieCarey opened #1177 "Baremetal Operator fails to provision a K8s Cluster"
**HELP Request**
I can not pin point a tool that is leading to the failures described

**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Setup:
My TestBed:

4 servers with 64 cpu's each and tonnes of RAM.
All visible on a IPMI network.
A baremetal network on its own vlan
A provisioning network on its own vlan
One server set up as the pro

[2022-10-21 17:47] ReggieCarey commented on #1163
I've experienced this in the past. BMH does not go away after being deleted because the finalizer won't release it.  Apparently a functioning IRONIC deployment is necessary to let the finalizer proceed to removing the BMH and it can take 30 minutes to go away.

You can force remove the BMH by editing the deployed resource and removing the finalizer.  This is NOT recommended as it can leave other r

[2022-10-21 17:56] ReggieCarey commented on #1124
Canonicals MAAS tool provisions bare metal and discovers them when they're booted onto the IPMI network - so it can be done.  MAAS allows manual adding of machines and requests bootMACAddress and IPMI endpoint & credentials if you're manually adding records.  For auto discovered machines, we get a full inspection. I suspect this is more of a limitation of IRONIC than anything else. I find that ipm

[2022-10-21 18:12] ReggieCarey commented on #1119
@kplimack I'm not sure if this is an issue with BMO or IRONIC.  But my machines stop being worked on by BMO even though the BMO logs are constantly reporting some activity (even on machines no longer registered).  Ironic logs are stupidly huge after just a few minutes of start up, so we'd have to sift through 20K+ lines of log data to find anything. Same goes for ironic-inspector - logs grow huge

[2022-11-02 14:29] Rozzii commented on #1177
/cc @Rozzii

[2022-11-02 14:35] Rozzii commented on #1009
/remove-lifecycle stale
We would need to convert this to a metal3-docs User-Guide issue.

[2022-11-02 14:38] Rozzii commented on #1146
/remove-lifecycle stale
/cc @zaneb  @elfosardo @kashifest

[2022-11-02 14:45] Rozzii commented on #1177
/assign @Rozzii

[2022-11-08 03:44] k82cn opened #1181 "Why using URLs for md5sum check?"
**What steps did you take and what happened:**

Currently, we're using URL for md5sum check instead of a plaintext; is it possible to update baremetal-operator to use plaintext for md5sum?

**What did you expect to happen:**

Both URL and plaintext of md5sum are supported.

**Anything else you would like to add:**

N/A

**Environment:**

- Baremetal Operator version:
- Environment (metal3-dev-env

[2022-11-16 14:32] Rozzii commented on #1181
I have not checked it yet, but this issue has been discussed during community meeting, please wait for further information we have to check this use-case.

[2022-11-16 14:35] Rozzii commented on #410
/remove-lifecycle stale

[2022-11-16 14:42] Rozzii commented on #855
/remove-lifecycle frozen

[2022-11-17 00:56] k82cn commented on #1181
Thanks; and how about the community meeting, I'd like to join the meeting if possible :)

[2022-11-17 07:41] furkatgofurov7 commented on #1181
@k82cn everyone is welcome to the community meetings, you can check about the Metal3 community meeting venue and timing here: https://github.com/metal3-io/metal3-docs#community

[2022-11-20 18:31] #1119 closed

[2022-11-21 09:42] furkatgofurov7 commented on #959
/remove-lifecycle stale

[2022-11-23 14:25] dtantsur opened #1182 "Lack of retries for cleaning may cause undesired side effects"
**What steps did you take and what happened:**
I was playing with manually adding/removing k8s nodes to my cluster. I deprovisioned a BMH and removed the corresponding node. The BMH become `available`, but the node came back. Why?

What I deduced from the logs is this. Cleaning for the BMH has failed, the Ironic node got into `clean failed` state. BMO has moved it to `manageable` and left there si

[2022-11-23 14:26] dtantsur commented on #1182
Discussed on the weekly meeting.

/triage accepted

[2022-11-23 14:27] dtantsur commented on #1182
/cc @zaneb since you touched this logic several times.
/assign @dtantsur

[2022-11-23 21:45] zaneb commented on #1177
How it works is basically that the BareMetalHost containing the BMC details + credentials is your hardware inventory. That's managed by the baremetal-operator.
Then you have the Cluster API, which selects hosts from that inventory and provisions them with an image (by setting that field in the BareMetalHost) that allows them to form a cluster. That's managed by the cluster-api-provider-metal3. Thi

[2022-11-29 09:43] kashifest opened #1187 "PXE boot should be retried incase of failure"
**What steps did you take and what happened:**
[A clear and concise description on how to REPRODUCE the bug.]

Due to hardware issue, sometimes PXE booting is ignored. We have faces situations where hardware has ignored the bootorder to  boot from PXE and it boots from the hard disk. Is there any way to know that the hardware has ignored ironic's command to PXE boot?

/kind bug

[2022-11-30 14:22] Rozzii commented on #1187
/triage needs-information

[2022-11-30 14:27] Rozzii commented on #1159
/lifecycle frozen